<template>
  <b-container>
    <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CBB557149F2519B69EE4B6C436C12A455788E06B84FA593D432BDECDC7A3BF58AEE2E8AA6B1530CAF8072AF79FA0D0DBF">
      <b-row>
        <b-col md="6" xs="12">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="姓名" id="fieldName" name="cm-name">
        </b-col>
        <b-col md="6" xs="12">
          <label>School</label>
          <input type="text" class="form-control" placeholder="在读学校" id="fieldtyhkyki" name="cm-f-tyhkyki">
        </b-col>
        <b-col md="6" xs="12">
              <label for="fieldtyhkjdy">Grade</label>
    <br />
    <select id="fieldtyhkjdy" name="cm-fo-tyhkjdy"  class="form-control">
        <option value="4088018">8</option>
        <option value="4088019">9</option>
        <option value="4088020">10</option>
        <option value="4088021">11</option>
        <option value="4088022">12</option>
    </select>
        </b-col>
        <b-col md="6" xs="12">
          <label>Phone</label>
          <input type="text" class="form-control" id="fieldtyhkykh" name="cm-f-tyhkykh" placeholder="电话">
        </b-col>
        <b-col md="6" xs="12">
          <label>Email address</label>
          <input id="fieldEmail" name="cm-jllyidy-jllyidy" type="email" class="form-control js-cm-email-input" required
            placeholder="邮箱">
        </b-col>
        <b-col md="6" xs="12">
          <label>Wechat</label>
          <input type="text" class="form-control" id="fieldtyhkykk" name="cm-f-tyhkykk" placeholder="微信">
        </b-col>
        <b-col md="6" xs="12">
          <label>Volunteer Hours Needed</label>
          <input type="text" class="form-control" id="fieldtyhkyku" name="cm-f-tyhkyku" placeholder="需要的义工小时">
        </b-col>
         <b-col md="6" xs="12">
          <button type="submit" class="btn green-btn js-cm-submit-button" style="width:100%;margin-top:30px;">提交</button>
        </b-col>
      </b-row>
      <b-row>
      <b-col>
          <br>
        
        </b-col>
      </b-row>
      <br>

    </form>
    <br>
    <br>
  </b-container>
</template>

<script>
  export default {

  }

</script>

<style>

</style>
