<template>
  <b-container>
    <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C934B138BBB6FCFB35AB4AEBE56B9C831C08A68AE893057225F7B8B60B35DF24503976A2EB7002BB758CF7EEC41D6C2DA">
      <b-row>
        <b-col md="6" xs="12">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="姓名" id="fieldName" name="cm-name" required>
        </b-col>
        <b-col md="6" xs="12">
          <label>School</label>
          <input type="text" class="form-control" placeholder="在读学校" id="fieldtyhkyki" name="cm-f-tyhkyki" required>
        </b-col>
        <b-col md="6" xs="12">
              <label for="fieldtyhkjdy">Grade</label>
    <br />
    <select id="fieldtyhkjut" name="cm-fo-tyhkjut" class="form-control">
         <option value="4088023">7</option>
        <option value="4088024">8</option>
        <option value="4088025">9</option>
        <option value="4088026">10</option>
        <option value="4088027">11</option>
        <option value="4088028">12</option>
    </select>
        </b-col>
        <b-col md="6" xs="12">
          <label>Phone</label>
          <input type="text" class="form-control" id="fieldtydynr" name="cm-f-tydynr" placeholder="电话" required>
        </b-col>
        <b-col md="6" xs="12">
          <label>Email address</label>
          <input id="fieldEmail" name="cm-jllyidj-jllyidj" type="email" class="form-control js-cm-email-input"
            placeholder="邮箱" required>
        </b-col>
        <b-col md="6" xs="12">
          <label>Wechat</label>
          <input type="text" class="form-control" id="fieldtydyny" name="cm-f-tydyny" placeholder="微信" required>
        </b-col>
        <b-col md="6" xs="12">
          <label>Volunteer Hours Needed</label>
          <input type="text" class="form-control" id="fieldtyhkjud" name="cm-f-tyhkjud" placeholder="需要的义工小时" required>
        </b-col>
         <b-col md="6" xs="12">
          <button type="submit" class="btn green-btn js-cm-submit-button" style="width:100%;margin-top:30px;">提交</button>
        </b-col>
      </b-row>
      <b-row>
      <b-col>
          <br>
        
        </b-col>
      </b-row>
      <br>

    </form>
    <br>
    <br>
  </b-container>
</template>

<script>
  export default {

  }

</script>

<style>

</style>
