<template>
    <footer>
        <b-container>
            <b-row>
                <b-col sm="12" md="4">
                    <b-img src="/img/footer-logo.png" fluid width="120"/>
                </b-col>
                <br>
                <br>
                <br>
                <b-col sm="12" md="4">
                    <a href="https://goo.gl/maps/wu89QDQ8P4iAu69F8" target="_blank"><b-img src="/img/maps-and-flags.svg" fluid width="15" class="m-right-5"/>Unit203, 3447 Kennedy Road，M1V 3S1</a>
                    <a href="tel:1-647-938-9992"><b-img src="/img/smartphone-call.svg" fluid width="15" class="m-right-5"/>1 647 938 9992</a>
                    <a href="mailto:info@siru-group.com"><b-img src="/img/envelope.svg" fluid width="15" class="m-right-5"/>info@siru-group.com</a>
                </b-col>
                <b-col class="ml-auto" sm="12" md="4">
                    <p>周一至周五</p>
                    <p>9:30 am -7:30 pm</p>
                    <p>周六可提前预约</p>
                </b-col>
            </b-row>
        </b-container>
    </footer>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
a{
    padding-bottom: 5px;
    font-family: 'Gotham-book';
}
    .m-right-5{
        margin-right: 8px;
    }
</style>
