<template>
    <section class="section-gray">
        <b-container>
            <b-row>
                <b-col data-aos="fade-up" data-aos-delay="50">
                    <h1>思儒信息动态</h1>
                    <h3>实时动态更新，使你的海外生活先人一步。</h3>
                </b-col>
                <b-col>
                    <nuxt-link to="posts" class="green-btn float-right" >
                    更多资讯
                    </nuxt-link>
                </b-col>
            </b-row>
            <br>
            <b-row class="top-news">
                <b-col data-aos="fade-up" data-aos-delay="150" v-for="(blog, index) in postList" :key="index">
                    <b-img :src="blog._embedded['wp:featuredmedia']['0'].source_url" fluid/>
                    <h3>{{blog.title.rendered}}</h3>
                    <nuxt-link :to="'/posts/' + blog.id">
                        <a :href="blog.link" target="_blank" class="goto-news">查看全文</a>
                    </nuxt-link>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
import https from 'https';

const agent = new https.Agent({  
  rejectUnauthorized: false
});
export default {
        async asyncData ({ app, store, params }) {
    let page = await app.$axios.get('https://blog.sirucanada.com/wp-json/wp/v2/posts?_embed',{ httpsAgent: agent })
        console.log(page)
        store.commit('setPost', page.data)
    },
    computed: {
        postList() {
            return this.$store.state.posts;
        }
    },
}
</script>

<style>

</style>
