<template>
    <section id="services">
        <b-container>
            <b-row>
                <b-col sm="12" md="6" style="margin-bottom:15px;">
                    <h1 data-aos="fade-up" data-aos-delay="50">思儒服务</h1>
                    <h3 data-aos="fade-up" data-aos-delay="50">资源优质服务细致高效，帮助客户达成目标。</h3>
                    <br>
                    <p data-aos="fade-up" data-aos-delay="150">思儒国际凭借优越的地理位置，不断挖掘高品质的教育资源，更凭借其专业高效的服务质量，在业内赢得了良好的声誉和口碑。思儒国际，通过频繁的市场考察和院校走访，与本地院校和商业机构建立深度合作，不断开发新型留学及移民项目，为客户提供更优质、更多样化的服务。-改为-思儒国际凭借优越的地理位置，不断挖掘高品质的海外教育、移民、商业项目资源，更凭借其专业高效的服务质量，在业内赢得了良好的口碑和声誉。思儒国际通过频繁的市场考察与项目挖掘，与本地教育机构和商业机构建立深度合作，不断开发新型留学及移民项目，为客户提供更优质、更多样化的服务。</p>
                    <br>
                    <nuxt-link to="services" class="green-btn" data-aos="fade-up" data-aos-delay="150"> 了解详情</nuxt-link>
                </b-col>
                <b-col sm="12" md="6">
                    <b-row>
                    <b-col class="service-icon" data-aos="fade-up" data-aos-delay="50">
                        <nuxt-link to="/student-visa">
                        <b-img src="/img/test.svg" width="80"  data-aos="fade-up" data-aos-delay="50"/>
                        <h3  data-aos="fade-up" data-aos-delay="150">留学申请</h3>
                        </nuxt-link>
                    </b-col>
                    <b-col class="service-icon" data-aos="fade-up" data-aos-delay="150">
                        <b-img src="/img/taxi.svg" width="80" data-aos="fade-up" data-aos-delay="150"/>
                        <h3 data-aos="fade-up" data-aos-delay="250">签证申请</h3>
                    </b-col>
                     <b-col class="service-icon" data-aos="fade-up" data-aos-delay="250">
                               <b-img src="/img/application.svg" width="80" data-aos="fade-up" data-aos-delay="350"/>
                        <h3 data-aos="fade-up" data-aos-delay="450">移民规划</h3>
         
                    </b-col>
                    </b-row>
                    <br>
                     <b-row>
                    <b-col class="service-icon" data-aos="fade-up" data-aos-delay="350">
                                       <b-img src="/img/school.svg" width="80" data-aos="fade-up" data-aos-delay="250"/>
                        <h3 data-aos="fade-up" data-aos-delay="350">监护护学</h3>
                    </b-col>
                    <b-col class="service-icon" data-aos="fade-up" data-aos-delay="450">
                        <b-img src="/img/assigment.svg" width="80" data-aos="fade-up" data-aos-delay="450"/>
                        <h3 data-aos="fade-up" data-aos-delay="550">课程培训</h3>
                    </b-col>
                     <b-col class="service-icon" data-aos="fade-up" data-aos-delay="550">
                        <b-img src="/img/test.svg" width="80" data-aos="fade-up" data-aos-delay="550"/>
                        <h3 data-aos="fade-up" data-aos-delay="550">后续服务</h3>
                    </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
</style>
