<template>
  <section id="achivement">
    <b-container fluid>
      <b-row>
        <b-col offset-md="1" sm="12" md="6">
          <br>
          <br>
          <h1 data-aos="fade-up" data-aos-delay="50">我们的优势</h1>
          <!-- <h3 data-aos="fade-up" data-aos-delay="50">思儒国际自成立以来帮助</h3> -->
          <br>
          <b-row>
            <b-col md="4" sm="12">
              <div v-if="vector==1" class="fadeintext">
                <div class="round-title">
                  <h2>高效</h2>
                </div>
                <br>
                <p class="advantage-text">高效沟通了解客户需求，为客户量身定制申请方案，一对一文案及顾问专员整理客户材料，专属移民律师递交申请。</p>
              </div>
              <div v-if="vector==2" class="fadeintext">
                <div class="round-title">
                  <h2>敏锐</h2>
                </div>
                <br>
                <p class="advantage-text">时刻掌握最新的留学移民政策，不断更新优化留学移民等资源。</p>
              </div>
              <div v-if="vector==3" class="fadeintext">
                <div class="round-title">
                  <h2>隐私</h2>
                </div>
                <br>
                <p class="advantage-text">注重客户隐私，为客户的档案设密，提供安全有保障的申请平台。
                </p>
              </div>
              <div v-if="vector==4" class="fadeintext">
                <div class="round-title">
                  <h2>专注</h2>
                </div>
                <br>
                <p class="advantage-text">专注于加拿大留学移民及相关服务。</p>
              </div>
              <div v-if="vector==5" class="fadeintext">
                <div class="round-title">
                  <h2>优质</h2>
                </div>
                <br>
                <p class="advantage-text">优质的信息资源输出，公司通过实践考察，对资源进行一一筛查，将过滤后的信息资源提供给客户。</p>
              </div>
              <div v-if="vector==6" class="fadeintext">
                <div class="round-title">
                  <h2>专业</h2>
                </div>
                <br>
                <p class="advantage-text">咨询顾问、文案团队、移民律师均经过公司的专门职业培训及考核，以最专业的姿态组成的强大的服务团队。</p>
              </div>
              <div v-if="vector==7" class="fadeintext">
                <div class="round-title">
                  <h2>细致</h2>
                </div>
                <br>
                <p class="advantage-text">为客户每一步的规划申请提供细致化的服务，保证服务的质量同时通过细节提高精准度。</p>
              </div>
            </b-col>
            <b-col md="6" sm="8" >
              <Infographic />
            </b-col>
          </b-row>
          <!-- <ul>
                        <li data-aos="fade-up" data-aos-delay="150">上千名学生完成院校申请、签证申请、成绩评估、未来规划</li>
                        <li data-aos="fade-up" data-aos-delay="200">上百为移民申请者完成，移民评估，移民咨询以及移民递交</li>
                        <li data-aos="fade-up" data-aos-delay="250">我们一直秉承着，用我们专业的知识，和丰富的经验让各类申请者以最适合的途径完成留学移民的目标，少走弯路。</li>
                    </ul> -->

          <!-- <nuxt-link to="/news" class="green-btn" >
                    更多案例
                    </nuxt-link> -->
          <br>
          <br>
          <br>
        </b-col>
        <b-col class="achive-number" sm="12" md="5">
          <b-container>
            <br>
            <br>
            <br>
            <br>
            <h1 data-aos="fade-up" data-aos-delay="50">我们的成就</h1>
            <br>
            <b-row>
              <b-col class="text-center">
                <h1 data-aos="fade-up" data-aos-delay="50">372</h1>
                <b-img src="/img/visa-icon.svg" width="70" fluid data-aos="fade-up" data-aos-delay="150" />
                <h3 data-aos="fade-up" data-aos-delay="150">留学服务人数</h3>
              </b-col>
              <b-col class="text-center">
                <h1 data-aos="fade-up" data-aos-delay="50">302</h1>
                <b-img src="/img/immigration-icon.svg" width="70" fluid data-aos="fade-up" data-aos-delay="150" />
                <h3 data-aos="fade-up" data-aos-delay="150">签证服务人数</h3>
              </b-col>
              <b-col class="text-center">
                <h1 data-aos="fade-up" data-aos-delay="50">272</h1>
                <b-img src="/img/schoolchange-icon.svg" width="70" fluid data-aos="fade-up" data-aos-delay="150" />
                <h3 data-aos="fade-up" data-aos-delay="150">移民服务人数</h3>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
  import Infographic from '~/components/Infographic'
  export default {
    components: {
      Infographic
    },
    computed: {
      vector() {
        return this.$store.state.activeVector
      }
    }
  }

</script>

<style lang="scss" scoped>
.fadeintext{
    transition: all 0.5s;
}
</style>
