<template>
    <section id="universities">
        <b-container>
            <b-row>
                <b-col>
                    <b-img src="/img/universities/university_01.jpg" data-aos="fade-up" data-aos-delay="100" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_02.jpg" data-aos="fade-up" data-aos-delay="200" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_03.jpg" data-aos="fade-up" data-aos-delay="300" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_04.jpg" data-aos="fade-up" data-aos-delay="400" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_05.jpg" data-aos="fade-up" data-aos-delay="500" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_06.jpg" data-aos="fade-up" data-aos-delay="600" fluid />
                </b-col>
                <b-col>
                    <b-img src="/img/universities/university_07.jpg" data-aos="fade-up" data-aos-delay="700" fluid />
                </b-col>

            </b-row>
        </b-container>
    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>
