<template>
  <section id="volunteer" class="section-gray">
    <b-container>
      <b-row>
        <b-col sm="12" md="6">
          <h1>义工活动</h1>
          <h3>让你脱颖而出！</h3>
          <br>
          <br>
          <ul>
            <li>安省高中毕业要求中需要完成40个小时的义工时间</li>
            <li>大学申请的考察条件之一</li>
            <li>应聘简历上言之有物</li>
            <li>领导力、组织力、团队协作力的引爆点</li>
          </ul>
        </b-col>
        <b-col sm="12" md="6">
          <b-row>
            <b-col sm="12" md="6">
              <b-img src="/img/event-img/event-big-on-bloor.jpg" width="200" fluid></b-img>
              <br>
            </b-col>
            <b-col sm="12" md="6">
              <br>
              <h3> BIG on Bloor Festival of Arts & Culture</h3>
              <br>
              <h3>日期： 2019-07-20</h3>
              <br>
              <h3>义工任务：</h3>
              <p> Assistant, Tour guide</p>
              <br>
              <!-- <nuxt-link to="/" class="orange-btn">立刻报名</nuxt-link> -->
              <b-button v-b-modal.modal-prevent-closing class="orange-btn">立刻报名</b-button>
              <b-modal id="modal-prevent-closing" ref="modal" title="在线报名" @show="resetModal"
                @hidden="resetModal" @ok="handleOk">
                <eventBigonBloor/>
              </b-modal>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <br>
      <br>
    </b-container>
    <b-container fluid class="past-events">
      <nuxt-link to="/" class="green-btn">往期活动</nuxt-link>
      <b-row>
        <b-col class="info-board" sm="12" md="4">
          <h3>密室逃脱/义工workshop</h3>
          <br>
          <p>日期：2019-04-28</p>
          <p>活动内容：ESCAPING</p>
          <nuxt-link to="/">了解详情</nuxt-link>
        </b-col>
        <b-col class="info-board" sm="12" md="4">
          <h3>马拉松义工</h3>
          <br>
          <p>日期： 2019-05-05</p>
          <p>活动内容：马拉松义工</p>
          <nuxt-link to="/">了解详情</nuxt-link>
        </b-col>
        <b-col class="info-board" sm="12" md="4">
          <h3>多伦多开放日Door Open</h3>
          <br>
          <p>日期：2019-05-25</p>
          <p>活动内容：多伦多博物馆、大学、市政厅等公共参观景点开放日</p>
          <nuxt-link to="/">了解详情</nuxt-link>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import eventBigonBloor from '~/components/event-big-on-bloor-form'
  export default {
    components:{
      eventBigonBloor
    },
methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid ? 'valid' : 'invalid'
        return valid
      },
      resetModal() {
        this.name = ''
        this.nameState = null
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }
        // Push the name to submitted names
        this.submittedNames.push(this.name)
        // Hide the modal manually
        this.$nextTick(() => {
          this.$refs.modal.hide()
        })
      }
    }
  }

</script>

<style>

</style>
