<template>
<div>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 874.8 874.8" style="enable-background:new 0 0 874.8 874.8;" xml:space="preserve">
<g id="xizhi" @mouseover="changeVector(7)" >
	<path class="xizhi-shape" d="M302.1,476.5L37.5,539c29.9,118.2,110.8,216,218,268.8l115.7-246.1C337.9,543.9,312.7,513.3,302.1,476.5z"/>

	<path class="st6 xizhi-text" d="M185.5,624.6l0.1,3.6c-1.5,0-15.4,2.8-16.8,3.1l-0.7-6.9c1.7-0.2,15.5-2.6,17.3-3.1L185.5,624.6z M215.4,586.4
		v45.2H187v-34c-3.1,5.9-7.9,13.6-8.9,14.5c2.1-0.4,5-0.8,6.8-1.2l0.1,6.5c-0.8,0-8.8,1.3-12.2,1.9l-1.6,0.3l-1.6-6.6
		c1.3-0.5,1.8-1,3.1-2.8c1.1-1.5,2.3-3.4,3.5-5.3c-2,0.2-3.9,0.2-5.1,0.4l-1.2,0.2l-1.6-6.3c0.9-0.6,1.6-1.4,2-1.8
		c1.2-1.2,4.7-8.3,6.8-13.7l5.7,2.4c-2,4.4-5.6,11.3-6.9,12.8l3.8-0.2c1.1-2,2-3.9,2.8-5.5l4.6,2.4v-9.1H215.4z M193.1,593.5v12h5.1
		v-12H193.1z M193.1,624.4h5.1v-11.8h-5.1V624.4z M209.4,593.5h-5v12h5V593.5z M209.4,624.4v-11.8h-5v11.8H209.4z M273.4,628.7
		l-4.3,6.1c-4.5-3.4-8-6.6-10.8-10.2c-2.8,3.6-6.5,6.8-11.2,10.4l-4.2-5.6l-19.8,2.3l-0.4-6.6c1.1,0,5.3-0.4,9.9-0.9v-5.6h-7.5V612
		h7.5v-4.4l6.6,0.3v4.1h7.5v6.5h-7.5v5l7.3-0.8v4c3.3-2.5,5.9-5,7.9-7.5c-2.1-3.5-3.6-7.3-4.7-11.6l-1.1,1.5l-1.7-2.6l-4.8,2
		l-0.6-1.7c-4.1,0.3-10.7,0.7-13.7,1c-0.8,0.1-1.5,0.1-2.1,0.2l-1.5-6.1c0.6-0.3,1.1-0.7,1.5-1.1c0.8-0.9,2.9-4.5,4.7-7.9h-6.1v-6.5
		h23.2v6.5h-10.1c-1.8,3.4-4,6.9-5.3,8.4c2-0.2,4.5-0.2,7-0.4c-0.7-1.6-1.3-3.2-1.8-4.5l5.3-2.1c0.9,2,2.2,4.7,3.3,7.4
		c3-4.7,5.6-11.7,6.8-18l6.2,1.2c-0.4,2.2-1,4.5-1.7,6.8h14.2v6.5h-3.2c-1.1,8.8-2.7,15.3-5.8,20.9
		C265.1,622.5,268.7,625.5,273.4,628.7z M253.8,599.6c0.7,5.1,2.1,9.5,4.2,13.4c2-4.3,3-9.1,3.7-14.9h-7.2L253.8,599.6z"/>
</g>
<g @mouseover="changeVector(1)"  id="gaoxiao">
    <path class="gaoxiao-shape" d="M544.3,345.7l209.2-173.5c-74-88.2-184.3-144.9-307.8-147.4v271.9C485.1,299.1,520.1,317.6,544.3,345.7z"/>
	<path class="st6 gaoxiao-text" d="M560.2,163.6v5.4h-47.4v-5.4H533l-0.8-3.7l7.4-0.3l0.9,4H560.2z M515.1,185.1h43v17.2c0,6.1-1.6,7.4-5.4,7.9
		l-4.5,0.4l-2-6l3.2-0.3c1.6-0.2,1.8-0.6,1.8-3.7v-10.5h-29.3V210h-6.8V185.1z M553.2,171.2v12h-33.5v-12H553.2z M547.8,204.3h-22.5
		v-12.4h22.5V204.3z M546.4,176.2h-19.8v2.1h19.8V176.2z M541.2,197.1h-9.3v2.1h9.3V197.1z M585,206.4c-1.3-1.6-2.8-3.5-4.5-5.6
		c-2.8,3.6-6.2,6.8-10.6,10.2l-4.7-5.3c4.7-3.1,8.3-6.4,11.2-10l-5-6l4.4-4.2c1.3,1.5,2.7,3,4.2,4.6c0.9-1.8,1.7-3.8,2.3-6l4.1,1.6
		c-2.3-3.2-5-7-6.8-9.1l3.6-2.7h-7.9l4,2.3c-2.4,4.7-5.8,9.7-9.1,13.5l-4.5-4.2c2.6-3.1,5.6-7.6,7.8-11.6h-5.7v-7.1h8.4l-1.4-5.6
		l6.6-0.4l1.2,6h8.8v7.1h-6.5c2.4,2.8,6.1,8.1,8,11.2l-4.6,3.8l-1-1.6c-0.9,2.7-1.8,5.3-3.1,7.5c2.2,2.5,4.2,4.9,5.8,7L585,206.4z
		 M617.5,205.2l-4.1,5.9c-4.2-3.5-7.7-7-10.6-10.8c-2.9,3.6-6.6,7-11.3,10.6l-4.6-5.3c5.4-3.7,9.3-7.2,12.1-11
		c-2-3.5-3.5-7.1-4.6-11.1l-0.7,1.3l-3.9-5.8c2.8-4.6,6.6-13.4,7.5-18.9l6.3,0.9c-0.6,2.4-1.2,4.7-1.9,6.9h13.6v7h-3.1
		c-1.1,8.1-2.7,14.2-5.6,19.6C609.5,198.2,613,201.6,617.5,205.2z M602.7,188.1c1.7-3.9,2.7-8.2,3.4-13.3h-7.2
		c-0.2,0.2-0.1,0.4-0.3,0.6C599.5,180.2,600.8,184.4,602.7,188.1z"/>

</g>
<g @mouseover="changeVector(4)"  id="zhuanzhu">
	<path class="zhuanzhu-shape" d="M296.6,437.4c0-30.3,9.6-58.4,25.9-81.4L109.2,187.3c-53,69.4-84.4,156.1-84.4,250.1c0,30.3,3.3,59.8,9.5,88.2
		L298.9,463C297.4,454.7,296.6,446.2,296.6,437.4z"/>
	<path class="st6 zhuanzhu-text" d="M135.4,386.9c-0.6,1.3-1.1,2.6-1.7,3.7h26v7c-3.2,2.4-6.8,5.4-10.1,8.2c2.9,0.9,5.6,1.8,7.8,2.6l-2,7.1
		c-9.3-3.7-23.5-8.3-31.5-10.3l2.1-6.4c4.5,1.3,10.3,3,16.1,4.7c2.7-2.2,5.4-4.4,7.8-6.1h-24.8v-6c0.7-1.3,1.5-2.7,2.3-4.5h-10.4
		v-6.6h13.1c0.5-1.3,0.9-2.6,1.4-4h-11.2v-6.7h13.4c0.6-2,1.1-3.9,1.6-5.6l7.2,1.3l-1.1,4.4h19.7v6.7h-21.7l-1.3,4h26.4v6.6H135.4z
		 M180.9,391.3c-2.8-2.7-7.9-6.4-10.6-8.1l3.9-5.8c2.8,1.8,7.3,5.1,10.2,7.5L180.9,391.3z M185.4,395.9c-0.9,2.2-6.4,15.5-7.7,18.4
		l-6.6-2.7c1.3-2,7.3-16.2,7.9-18.4l3.2,1.5L185.4,395.9z M183,378.1c-2.2-2.2-7.4-5.9-9.8-7.4l3.7-5.7c2.4,1.5,7.2,5,9.5,6.9
		L183,378.1z M220.2,406.1v6.8h-36.7v-6.8h14.8v-10.8h-11.1v-6.9h11.1v-9.1h-11.6v-6.9h12l-1.3-6.9l7.5-0.3l1.3,7.3h12v6.9h-12.8
		v9.1h11.1v6.9h-11.1v10.8H220.2z"/>
	
</g>
<g id="youzhi" @mouseover="changeVector(5)" >
	<path class="youzhi-shape" d="M762.2,183L552.8,356.6c16.1,22.9,25.5,50.7,25.5,80.8c0,9-0.9,17.7-2.5,26.2l264.6,62.6
		c6.3-28.6,9.6-58.3,9.6-88.8C850,341.4,817.2,253.1,762.2,183z"/>
	<path class="youzhi-text st6" d="M703.1,400.4c-0.2,2.1-0.5,5.6-0.7,6.5c-0.7,5.6-1.8,6.2-7.4,6.6c-1.3,0.2-3.2,0.2-4.5,0
		c-4.2-0.3-6.6-1.7-6.6-7.2v-19.3c-1.2,11-4.5,18.5-13.2,27.6l-4.4-3.6v3.4h-6.8v-25.3c-0.9,1.3-1.9,2.6-3,4l-4.4-5.5
		c4.4-5.3,9.7-15.5,11.5-23.6l6.8,2c-1.3,4.2-2.7,7.8-4.2,11.3v31.4c7.8-8,10.1-14.3,10.9-25.6h-9v-6.9h9.4v-11.3l7,0.3l-0.2,11.1
		h8.4c-1.8-2.2-4.3-5.3-6-6.9l4.6-4.1c2.1,1.8,5.5,5.3,7.2,7.7l-3.1,3.3h5.5v6.9h-16.9l-0.1,1.3l6.6,0.3v20c0,1.9,0.3,2.2,2.1,2.3
		c0.5,0.1,1,0.1,1.5,0c1.4-0.2,1.7-0.3,1.9-2.3c0.2-1.8,0.4-4,0.6-6.2L703.1,400.4z M720.1,384.8c0,15-2,21.3-7,29.9l-6.3-3.5
		c5.3-8.9,6.7-12.7,6.7-26v-17.8c11.6-0.2,28.9-1.5,40-2.6l1.3,6.5c-9.6,1.1-25.6,2.1-34.7,2.3V384.8z M754.7,415.1
		c-3.7-2.2-12-6-17.2-8.3c-3.2,3.6-8.7,5.9-17.2,8.3l-2.4-6.3c13.1-3.4,15.9-5.6,16.6-12.5c0.2-0.9,0.2-2.4,0.2-3.1l6.5,0.3
		c-0.1,0.6-0.1,1.3-0.2,3.1c-0.1,1.7-0.3,3.2-0.7,4.6c5.4,2.2,13.2,5.7,16.9,7.6L754.7,415.1z M741.3,382.6v3h12v17.7h-6.6v-11.3
		H729v11.5h-6.5v-17.8h12.1v-3h-13.8v-6.1h13.8v-3.4l6.7,0.3v3.1h15.3v6.1H741.3z"/>
	
</g>
<g id="yinsi" @mouseover="changeVector(3)" >
	<path class="yinsi-shape" d="M504.9,561.1l120.5,243.7c104-53.3,182.3-149.4,211.8-265.1L572.6,477C562,513.2,537.4,543.3,504.9,561.1z"/>
	<path class="st6 yinsi-text" d="M634.7,630l5.2,1.5c-0.1,1.7-0.2,2.7-0.5,4c-0.8,3-1.9,4.4-6.4,4.7c-2,0.2-5,0.2-6.9,0
		c-4.7-0.3-5.9-1.5-5.9-6.3v-6.1c-1.2,3.6-2.7,7.4-4.3,10.6l-4.8-2.5c1.3-2.2,2.3-4.5,3.2-6.8c-0.8,1.3-2.1,1.7-3.9,2l-2.5,0.4l-2-6
		l1.6-0.3c1.9-0.4,2.3-0.6,2.3-3.5c0-2.9-1.2-6.7-4.2-10.8l3.6-12.3h-4v41.7h-5.9v-47.8h15.9v6.1l-1,3.2c3.9-3.8,6.8-7.5,9-12
		l6.4,1.3c-0.4,0.8-0.9,1.8-1.5,2.7H641v5.4l-3.5,3.7h6.5V624h-12.8c1.1,1.7,2.3,3.9,3.1,5.5l-4.3,2.8c-0.9-1.8-2.9-5.8-3.7-7.2
		l2.1-1.2h-11.4v-5.6h21.2v-2h-20.6v-5.5h20.6v-2h-19.5v-2.7l-1.2,1.1l-3.5-4.4l-2.2,7.3c2.8,4.5,3.9,8.4,3.9,12.2
		c0,1.5-0.1,2.6-0.2,3.6l0.2-0.6l4.6,1.7v-1.6l5.8,0.4v6.6c0,1.7,0.3,2,1.9,2.1c1.3,0.1,2.7,0.1,4.1,0c1.6-0.2,2.1-0.4,2.3-1.8
		C634.5,631.8,634.7,631.1,634.7,630z M624.4,599.6c-0.9,1.3-1.9,2.4-3,3.5h8.7l3.4-3.5H624.4z M643.3,624.5c1.5,3,4,7.7,5.3,11.3
		l-5.1,2.7c-1.2-3.2-3.5-8.8-5.1-11.7L643.3,624.5z M671.6,624.6c-0.7-1.3-1.8-2.9-2.9-4.5v20h-6.6v-18.2c-2,3.4-4,6.7-6.2,9.3
		l-4.2-6c3.3-4,6.6-9,9.3-14h-6.8v-6.8h7.9V600c-2.5,0.4-4.9,0.8-6.9,1l-0.7-6.5c5.7-0.7,14.3-2.3,20-3.8l1.2,6.6
		c-2,0.5-4.4,0.9-7,1.6v5.6h7.7v6.8h-7.7v3.2l2-1.4c1.3,1.8,4,5.5,5.5,7.6L671.6,624.6z M695.9,639.5l-1.3-4.2
		c-4.1,0.4-10.2,1.2-14.5,1.8c-2,0.2-4,0.5-5.9,0.9l-2.3-6.6c2.3-1.1,2-1.4,2.9-4.6c2.6-8.1,6.5-23,9.1-36.1l6.8,1.4
		c-2.7,13-6.8,29.7-9.6,38c3.1-0.2,7.5-0.8,11.4-1.3c-1.8-5.7-3.9-11.7-5-15l6.1-2.2c2.7,7.4,6.5,17.9,8.7,25.3L695.9,639.5z"/>
</g>
<g id="minrui" @mouseover="changeVector(2)" >
	<path class="minrui-shape" d="M437.4,578.3c-19.1,0-37.3-3.8-53.8-10.7L267.9,813.7C319.6,837,377,850,437.4,850
		c62.8,0,122.3-14.1,175.6-39.2L492.5,567.1C475.6,574.3,457,578.3,437.4,578.3z"/>
	<path class="st6 minrui-text" d="M438.6,715.9l-4,5.8c-3.7-3.2-6.9-6.5-9.4-10.1c-2.4,3.2-5.6,6.5-9.6,9.9l-4-5.5c-0.6,3.7-2.4,4.2-6.6,4.7
		l-3.7,0.3l-1.8-5.9l4.2-0.4c1.7-0.2,2.4-0.7,2.5-2.2h-16.5l1.1-11.6h-3.2v-6h3.7l0.7-6.8l-4.4-4.1c2.7-3.5,6.2-9,7.8-13.4l6.9,1.3
		c-0.4,0.9-0.7,1.8-1.1,2.6h14v6.3h-17.3c-0.4,0.8-0.9,1.5-1.5,2.3h16.9c0,0.3,0,1.7-0.2,3.7c2.8-4.5,5.5-10.7,6.5-15.9l6.3,0.7
		c-0.5,2.4-1.1,4.6-1.8,6.8h12.3v6.8h-2.6c-0.8,8.4-2.2,14.8-5.1,20.6C431.3,709.6,434.6,712.9,438.6,715.9z M396.1,706.7h5.1
		c-0.9-1.1-2.3-2.5-3.1-3.2l2.3-2.5h-3.7L396.1,706.7z M397.2,695h4.8c-1.1-1.2-2.4-2.7-3.3-3.6l2.4-2.3h-3.3L397.2,695z
		 M406.4,706.7c0.1-1.8,0.1-3.7,0.3-5.8h-5c1.1,1.1,2.5,2.5,3.1,3.4l-2.2,2.4H406.4z M407,695l0.3-5.9h-4.8c1.1,1.1,2.3,2.4,3.1,3.4
		l-2.5,2.6H407z M421.7,705.7c-2.2-4.2-3.5-8.5-4.4-13.4c-0.4,0.7-0.9,1.3-1.4,2l-2.9-3.7c-0.1,1.4-0.1,2.8-0.2,4.4h3.2v6h-3.5
		l-0.2,5.8h2.5v5.9H412c-0.1,0.4-0.1,0.7-0.1,0.9c0,0.9-0.1,1.7-0.2,2.4C416,712.8,419.2,709.5,421.7,705.7z M428.1,685.2h-6.3
		c0.6,5,1.6,9.6,3.2,13.6C426.6,694.9,427.5,690.5,428.1,685.2z M460.2,714c-1,0.6-4.4,2.8-6.4,4.2c-1.4,1.1-2.7,2-3.6,2.6l-3.5-5.5
		c1.3-0.9,1.5-1.7,1.5-3.3v-8.5h-4.9v-6.4h4.9v-4.2h-2.6v-2.6l-0.5,0.8l-4.5-4.2c2.7-4.5,6.5-11.5,7.8-16.6l6.5,1.1
		c-0.6,1.6-1.3,3.5-2.1,5.4h7.3v6.3h-10.3l-1.9,3.5h11.1v6.4h-4.8v4.2h5.8v6.4h-5.8v6.7c1.3-1.1,3.5-2.6,4.7-3.5L460.2,714z
		 M493.4,709.2c-0.2,2-0.4,4.7-0.7,6.3c-0.6,3.9-2.5,5-6.6,5h-4.7c-3.8,0-5.8-1.2-5.8-5.9v-12.9h-3c-0.6,10.8-3.9,14.7-11.8,20.2
		l-3.9-5.6c6.5-4.2,9.2-6.3,9.4-14.6h-5.3v-20.9h5.3c-1.5-2.5-3.6-5.7-4.4-6.8l5.5-3.1c1.1,1.3,4.1,5.7,5.6,8.1l-2.5,1.8h4.1
		c2-3,4.4-7.2,5.7-9.8l6.3,3.1c-1.1,2-2.5,4.4-3.9,6.7h5.4v20.9H482v10.8c0,1.5,0.3,1.7,1.8,1.7h0.9c1.8,0,2.2-0.3,2.3-1.5
		c0.2-1.7,0.4-3.9,0.5-5.6L493.4,709.2z M482.2,687.4h-14.6v7.8h14.6V687.4z"/>
	
</g>
<g id="zhuanye" @mouseover="changeVector(6)">
	<path class="zhuanye-shape" d="M431.9,296.7V24.8c-126.4,1.7-239,60.1-313.6,151l212.1,170C355.2,317,391.3,298.3,431.9,296.7z"/>
	<path class="st6 zhuanye-text" d="M289.6,180.1c-0.6,1.3-1.1,2.6-1.7,3.7h26v7c-3.2,2.4-6.8,5.4-10.1,8.2c2.9,0.9,5.6,1.8,7.8,2.6l-2,7.1
		c-9.3-3.7-23.5-8.3-31.5-10.3l2.1-6.4c4.5,1.3,10.3,3,16.1,4.7c2.7-2.2,5.4-4.4,7.8-6.1h-24.8v-6c0.7-1.3,1.5-2.7,2.3-4.5h-10.4
		v-6.6h13.1c0.5-1.3,0.9-2.6,1.4-4h-11.2v-6.7h13.4c0.6-2,1.1-3.9,1.6-5.6l7.2,1.3l-1.1,4.4h19.7v6.7h-21.7l-1.3,4h26.4v6.6H289.6z
		 M373.7,199.1v6.8h-47.4v-6.8h14.2v-9.5l-6,2.5c-2.2-8.6-4.8-17.1-7.4-22.9l7-2.3c2.1,5.4,4.4,12,6.4,19.1v-27.7l7.2,0.3v40.5h4.6
		v-40.8l7.2,0.3v29.3c2.7-6.4,5.8-16.7,6.7-21.6l6.9,1.7c-1.2,5.4-4.6,17.4-7.6,24.1l-6-2.3v9.3H373.7z"/>
</g>
</svg>
</div>
</template>

<script>
export default {
    methods:{
        changeColor(id){
           document.getElementById(id).style.fill='#25B78A';
		},
		
		changeVector(num){
			this.$store.commit('setVector', num)
		}
    }
}
</script>

<style lang="scss">  
	.st0{fill:none;stroke:#25B78A;stroke-miterlimit:10;stroke-dasharray:5;}
	.st1{fill:#25B78A;}
	.st2{fill:#269670;}
	.st3{fill:#FFFFFF;stroke:#25B78A;stroke-miterlimit:10;stroke-dasharray:5;}
	.st4{fill:none;stroke:#25B78A;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;}
	.st6{fill:#239670;}
	.st7{fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;}
    .st8{fill:none;stroke:#22B78A;stroke-width:4;stroke-miterlimit:10;}
   
   .gaoxiao-shape{
       fill:#ffffff;
       stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
       transition:0.5s;
   }
      .gaoxiao-shape:hover{
       transition:fill 0.5s;
   }

   .gaoxiao-text{
       transition: 0.5s;
   }

   .xizhi-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .xizhi-text{
	   transition: 0.5s;
   }
   .zhuanzhu-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .zhuanzhu-text{
	   transition:0.5s;
   }
   .youzhi-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .youzhi-text{
	   transition:0.5s;
   }
   .yinsi-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .yinsi-text{
	   transition:0.5s;
   }
   .minrui-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .minrui-text{
	   transition:0.5s;
   }
   .zhuanye-shape{
	   fill:none;stroke:#25B78A;stroke-width:4;stroke-miterlimit:10;
	   &:hover{transition:fill 0.5s;}
   }
   .zhuanye-text{
	   transition:0.5s;
   }
   
g#gaoxiao:hover .gaoxiao-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#gaoxiao:hover .gaoxiao-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#xizhi:hover .xizhi-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#xizhi:hover .xizhi-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#zhuanzhu:hover .zhuanzhu-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#zhuanzhu:hover .zhuanzhu-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#youzhi:hover .youzhi-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#youzhi:hover .youzhi-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#yinsi:hover .yinsi-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#yinsi:hover .yinsi-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#minrui:hover .minrui-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#minrui:hover .minrui-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}

g#zhuanye:hover .zhuanye-shape{
    transform: scale(1.045);
    transform-origin: 40% 50%;
    cursor: pointer;
    transition:0.5s;
    fill:#25B78A;
    z-index: -1;
}


g#zhuanye:hover .zhuanye-text{
    transform: scale(1.035);
    transform-origin: 60% 65%;
    transition:0.5s;
    fill:#ffffff;
    z-index: 1;
}
</style>
