<template>
    <div class="index-nav ">
        <br>
        <br>
        <b-container style="position: relative;">
              <b-row class="justify-content-md-center">
       <!-- <b-img src="/img/siru-logo.svg" width="40"/> -->
       </b-row>
  <b-navbar toggleable="lg" type="dark" variant="index-nav">
       <br><br>
    <b-navbar-brand href="/">
      <b-img src="/img/siru-logo.svg" width="40"/>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
     
    <b-collapse id="nav-collapse" is-nav class="justify-content-md-center">
      <!-- Right aligned nav items -->
      <b-navbar-nav>
        <b-nav-item href="/about" class="one">关于我们</b-nav-item>
        <b-nav-item href="/services" class="two">服务项目</b-nav-item>
        <b-nav-item href="/volunteer" class="four">义工招募</b-nav-item>
        <b-nav-item href="/posts" class="three">信息资讯</b-nav-item>
        <b-nav-item href="/volunteer" class="four">思儒活动</b-nav-item>
        <b-nav-item href="/posts" class="five">成功案例</b-nav-item>
        <b-nav-item href="/contactus" class="five">联系我们</b-nav-item>
        <hr>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <Nav/>
      </b-container>
</div>
</template>

<script>
import Nav from '~/components/Nav'
 export default {
   components:{
     Nav
   }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/element.scss';
    .index-nav{
        position: absolute;
        z-index: 999999;
        width:100%;
    }

    .bg-index-nav{
        background:transparent;
        a{
            border-bottom:5px solid rgba(0, 0, 0, 0);
            text-align: center;
            width: auto;
            transition: border-bottom 0.5s;
        }
        a:hover{
            border-bottom:5px solid $green;
        }
        .nav-item{
            margin: auto 15px;
        }
        .nav-link {
            margin: auto 0px;
        }
    }
</style>
