<template>
    <div>
  <b-navbar toggleable="lg" type="dark"  variant="main-nav">
    <b-container>
    <b-navbar-brand href="/">
      <b-img src="/img/siru-logo.svg" width="40"/>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
      <b-nav-item href="/about" class="one">关于我们</b-nav-item>
        <b-nav-item href="/services" class="two">服务项目</b-nav-item>
        <b-nav-item href="/volunteer" class="four">义工招募</b-nav-item>
        <b-nav-item href="/posts" class="three">信息资讯</b-nav-item>
        <b-nav-item href="/volunteer" class="four">思儒活动</b-nav-item>
        <b-nav-item href="/posts" class="five">成功案例</b-nav-item>
        <b-nav-item href="/contactus" class="five">联系我们</b-nav-item>
        <hr>
      </b-navbar-nav>
    </b-collapse>
    </b-container>
  </b-navbar>
</div>
</template>

<script>

 export default {
}
</script>

<style lang="scss" scoped>

</style>
