<template>
  <div class="col-md-9 content">
    <b-row style="padding-top:5%;">
      <b-col class="service-icon">
        <nuxt-link to="/student-visa#highschool">
          <b-img src="/img/test.svg" width="80" />
          <h3 >高中申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" >
        <nuxt-link to="/student-visa#college">
          <b-img src="/img/application.svg" width="80"  />
          <h3 >College申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" >
        <nuxt-link to="/student-visa#university">
          <b-img src="/img/university-school.svg" width="80"  />
          <h3>大学申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" >
        <nuxt-link to="/student-visa#continuestudy">
          <b-img src="/img/mortarboard.svg" width="80" />
          <h3>研究生申请</h3>
        </nuxt-link>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  export default {
    components: {

    },
    data: function () {
      return {
        advantagetab: false,
        highSchoolTab: false,
        collegeTab: false,
        univerTab: false,
        phdTab: false
      }
    },
    mounted() {
      $(document).ready(function () {
        $(window).scroll(function (event) {
          var scroll = $(this).scrollTop();
          if (scroll > 456) {
            $("#side-bar").addClass("fixed-sidebar")
          } else {
            $("#side-bar").removeClass("fixed-sidebar")
          }
        })
      });
    },
    methods: {
      toggleAdv() {
        console.log("haha")
      }
    }
  }

</script>
<style lang="scss" scoped>
  @import '@/assets/css/main.scss';


  .content{
    background-color:#f7f7f7;
  }
  // .service-icon:hover{
  //   background:none;
  //   border:1px solid #26b78a;
  // }

</style>
