<template>
  <div class="col-md-9 content">
    <b-row style="padding-top:5%;">
      <b-col class="service-icon">
        <nuxt-link to="/visa-application#studypermit">
          <b-img src="/img/test.svg" width="80"/>
          <h3>学习签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon">
        <nuxt-link to="/visa-application#workingpermit">
          <b-img src="/img/application.svg" width="80" />
          <h3>工作签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon">
        <nuxt-link to="/visa-application#temppermit">
          <b-img src="/img/visa-icon-2.svg" width="80" />
          <h3>临时签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon">
        <nuxt-link to="/visa-application#temppermit">
          <b-img src="/img/question-visa.svg" width="80"/>
          <h3 >疑难签证</h3>
        </nuxt-link>
      </b-col>
    </b-row>

  </div>
</template>
<script>
  export default {
    components: {

    },
    data: function () {
      return {
        studyPermit: false,
        workPermit: false,
        tempPermit: false,

      }
    },
    methods: {
      toggleAdv() {
        console.log("haha")
      }
    }
  }

</script>
<style lang="scss" scoped>
  @import '@/assets/css/main.scss';

  .p-l-x {
    padding-left: 2.5rem;
  }

  .p-l-2x {
    padding-left: 5rem;
  }

  @media (max-width: 500px) {
    .p-l-x {
      padding-left: 1rem;
    }

    .p-l-2x {
      padding-left: 2rem;
    }
  }

  .content{
    background-color:#f7f7f7;
  }
    .service-icon:hover{
    background:none;
  }

</style>
