@import 'fonts';


$blue: #0F2748;
$green: #25B78A;
$orange:#FF682C;
$table-gray:#ebedee;
$section-gray:#F0F0F0;

h1,
h2,
h3,
h4,
div,
span {
  font-family: 'Noto-black';
  color: $blue;
}
h4{
  font-size:16px;
}
p {
  font-size: 15px;
  font-family: 'Noto-light';
  line-height: 2;
}

.list-group-item{
  font-size: 13px;
  font-family: 'Noto-light';
  line-height: 2;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}
h3 {
    font-size:16px;
}

a:hover{
  text-decoration: none;
  outline: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

table {
    margin:2rem 0; 
  td {
    border: 1px solid #ebedee;
    background: #fbfbfb;
    padding: 0.5em 2em;
    min-width: 150px;

    h2 {
      text-align: center;
      margin: 0
    }

    p {
      margin: 0;
    }
  }
}


.service-table{
  td {
    font-family: 'Noto-light';
    font-size: 14px;
  }
  .table-success, .table-success > th, .table-success > td {
    font-family: 'Noto-bold';
}
 thead > tr > th{
  background: #0f2748;
  color:#ffffff;
}
} 

button{
    border:none;
    background:unset;
}
button:focus{
    outline:none;
}

.btn-secondary {
  border:none;
}

.page-item.active .page-link {
  background-color: $blue;
  border-color: $blue;
}

.green-btn {
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2em;
  background-color: $green;
  font-family: 'Noto-regular';
  padding: .5em 2.5em;
  border:1px solid $green;
  color: white;
  cursor:pointer;
  font-size: 13px;
  transition: 0.3s;
}

.orange-btn {
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2em;
  background-color: $orange;
  border:1px solid $orange;
  font-family: 'Noto-regular';
  padding: .5em 2.5em;
  color: white;
  cursor:pointer;
  font-size: 13px;
  transition: 0.3s;
}

.orange-btn:hover, .green-btn:hover{
  color:#383838!important;
  background-color:#ffffff;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
}
.orange-btn:hover{
  color:$orange!important;
  border-color:$orange!important;
}
.green-btn:hover{
  color:$green!important;

}



section{
  padding-top: 100px;
  padding-bottom: 100px;
}

  .content {
    color: #0d2c51;
    padding:25px 15px;
    // padding: 0 50px;
    // margin-left:200px;
    .tab-content-header {
      border-top: 1px dotted #2abf95;
      position: relative;
      display: flex;
      justify-content: center;
      // margin-top: 3rem;
      margin-top: 130px;

      .toggle-tab-wrapper {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        background-color: white;

        button {
          border: none;
          background: unset;
        }

        button:hover {
          cursor: pointer;
        }

        button:focus {
          outline: none;
        }

        &.open {
          .toggle-tab {
            color: $green;
            background: transparent;
          }
        }
      }
    }


    .toggle-tab {
      color:$green;
    }
    
    .tab-content {
      margin-top: 3em;
      padding: 0;
        .btn-row{
            display:flex;
        }
        .up-btn{
            cursor:pointer;
            max-width: 60px;
            text-align: center;
            width: 60px;
            height: 60px;
            padding: 5px;
            border: thin solid #dddddd;
            background-color: #f9f8f8;
            border-radius: 50%;

            div{
                font-size:13px !important;
                color:#ff7332 !important;
            }
        }
    }
  }
.border-div{
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 50px;
}


.customActive {
  color: #FF682C!important;
  border-left: 3px solid #FF682C;
  padding-left: 10px;
  transition: all 0.5s;
}
.section-gray{
  background-color: $section-gray;
}

.service-detail-sidenav{
  position: fixed;
  padding: 20px 15px;
  margin-top: 30px;

  ul{
    list-style: none;

    li{
      color:#c2c2c2;
      margin-bottom:15px;
      cursor: pointer;
      transition: all 0.5s;
    }
    li:hover{
      color:$orange;
    }
  }

}

footer{
  background-color: $blue;
  width: 100%;
  height: auto;
  padding: 50px;
  a{
    color: #ffffff!important;
    font-size: 14px;
    display: block;
  }

  p{
    color: #ffffff;
    line-height:2;
    margin:0;
  }
}


.right-border{
  ul{
    border-right:1px solid #c3c3c3;
  }

  .nav-link{
    border-radius:0;
  }

}

.modal-footer{
  display:none;
}

@media (max-width: 500px){
    .sidebar{
             width:120px !important;
             margin-bottom: 2rem;
    }

    p{
        font-size:15px;
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
 @media (max-width: 767px){
    .content {
        // padding-right:1.5em;
        .toggle-tab{ 
            margin:0 !important; 
            padding:1em;
            font-size:13px;
        }
        table td{
            padding:5px;
            min-width:50px;
        }
        
        
    }
 }
