@font-face {
    font-family: 'Noto-bold';
    src: url('/fonts/NotoSansSC-Bold-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansSC-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto-black';
    src: url('/fonts/NotoSansSC-Black-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansSC-Black-Alphabetic.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto-light';
    src: url('/fonts/NotoSansSC-Light-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansSC-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto-regular';
    src: url('/fonts/NotoSansSC-Regular-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansSC-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-book';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-black';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

