@import 'element';


.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }
.bg-main-nav{
    background-color:$blue;
    padding-top: 15px;
    padding-bottom:15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    margin:auto 25px;
    font-family: 'Noto-light';
    font-size: 14px;
    width: 100%;
}

.top-slider-banner{
    background-image: url('/img/header-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    h1{
        color:#ffffff;
    }

    h2{
        color:#ffffff;
        font-family:'Gotham-black';
    }

    h3{
        color:#ffffff;
    }
}

.service-icon{
    padding: 20px;
    margin:5px 15px;
    text-align: center;
    transition: all 0.5s;
    background-color: #F7F7F7;
    border:1px solid #F7F7F7;
    border-radius:15px;
    cursor: pointer;

    h3{
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Noto-bold';
    }
}

.content{
    background-color:#f7f7f7;
  }

.service-icon:hover{
    // box-shadow:0px 3px 19px rgba(0, 0, 0, 0.1);
    // background-color: #ffffff;
    transition: all 0.5s;
    border:1px solid #26b78a;
}
.btn-info {
    color: #fff;
    background-color: $green;
    border-color: $green;
    text-align: left;
}
.btn-info:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: $green;
    border-color: $green;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-info:focus, .btn-info.focus {
    box-shadow: none;
}

.top-news{
    h3{
        color:#575757;
        font-size: 16px;
        padding-top: 15px;
    }
    .news-date{
        font-family: 'Gotham-book';
        font-size: 12px;
    }
    .news-description{
        color:#333333;
    }
    .goto-news{
        color: $blue;
        font-family: 'Noto-regular';
        font-size: 13px;
    }
}
#achivement{
    padding-top:0;
    padding-bottom: 0;
    height: 100%;

    .achive-number{
        background-image: url('/img/achive-background-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:30px;

        h1{
            font-family: 'Gotham-black';
            color: #ffffff;
            padding-bottom: 5px;
        }

        h3{
            font-size: 16px;
            color: #ffffff;
            padding-top: 10px;
        }
    }
}

#achivement, #volunteer{

    ul{
        padding-left: 0;

        li{
            list-style:none;
            background-image:url('/img/list-dot.svg');
            background-position: left top;
            background-size: 15px;
            background-repeat: no-repeat;
            padding-left: 30px;
            font-family: 'Noto-regular';
            font-size: 13px;
            margin-top: 15px;
        }
    }
}

#volunteer{
    padding-bottom: 0;
    h3{
        font-family: 'Gotham-book';
        font-size: 13px;
        margin-bottom: 0;
    }

    p{
        margin-bottom: 0;
    }
    .past-events{
        border-top:1px solid $green;
        background-color:#E5E5E5;
        padding: 30px 10%;

        .green-btn{
            top: -47px;
            position: relative;
        }

        .info-board{
            padding:20px 30px;
            cursor: pointer;
            transition:all 0.5s;
            border-radius: 15px;
            h3, p{
            color:#575757;
            }

            h3{
                font-family: 'Noto-bold';
            }
            p{
                margin-bottom: 0;
            }

            a{
                color: $green;
                font-size: 12px;
                font-family: 'Noto-light';
            }
        }

        .info-board:hover{
            padding:20px 30px;
            background-color: #F0F0F0;
            box-shadow:0px 3px 19px rgba(0, 0, 0, 0.1);
            h3, p{
                color:$blue;
                }

            h3{
                font-family: 'Noto-bold';
            }
        }
    }
}


.slick-next {
    right: 20px!important;
    background-image: url('/img/next-arrow.png')!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    width: 40px!important;
    height: 40px!important;
}
.slick-next:before {
    content: ''!important;
    right: 20px!important;
    background-image: url('/img/next-arrow.png')!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}

.slick-prev {
    left: 20px!important;
    background-image: url('/img/prev-arrow.png')!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    z-index: 99999!important;
    width: 40px!important;
    height: 40px!important;
}
.slick-prev:before {
    content: ''!important;
    left: 20px!important;
    background-image: url('/img/prev-arrow.png')!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}
.slick-dots {
    position: absolute;
    bottom: 15px!important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button {
    width: 40px!important;
    height: 10px!important;
    border-radius: 5px;
    padding: 0px!important;
    // background: #575757!important;
}

.slick-dots li button:before {
    content: ''!important;
}



.slick-dots li {
    margin: 0 15px!important;
}


.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    padding:0;
}

.btn-info {
    border-radius: 0;
}

.collapsed{
    color: #fff;
    background-color: #d8d8d8;
    border-color: #d8d8d8;
}

.provincial-nominee{
    .nav-pills .nav-link {
      background-color: #f0f0f0;
      margin: 10px;
  }
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ff682c;


}

.nav-pills{
    a {
        color: #ff682c;
    }
}


.blog-content{
    margin-top: 30px;

    h2{
        // text-align: center;
        font-size: 30px;
    }

    // .wp-block-image{
    //     text-align:center;
    // }
}

.news-pagination{
    padding-bottom: 15px;
}