<template>
    <div class="container blog-content">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <h2>{{post ? post.title.rendered : null}}</h2>
            <div class="post-content-wrapper" v-html="post ? post.content.rendered : null"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import https from 'https';
    const agent = new https.Agent({  
                rejectUnauthorized: false
            });
    export default{
        
        async asyncData ({ app, store, params }) {
                let result = await app.$axios.get('https://blog.sirucanada.com/wp-json/wp/v2/posts/'+params.post+'?_embed',{ httpsAgent: agent })            
                return{
                    post: result.data
                }
        },
    }
</script>
<style lang="scss" scoped>
    .post-content-wrapper{
        padding: 1rem
    }
</style>
