<template>
  <b-container >
      <br>
      <br>
      <nuxt-link to="/" class="green-btn">返回</nuxt-link>
      <br>
      <br>
      <!--<b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table">
      </b-pagination>
       <b-table
      id="my-table"
      :items="items"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      > -->
      <b-row v-for="(item, index) in items" :key="index" style="margin-bottom:30px;">
        <b-col sm="12" md="4" style="margin-bottom:20px;">
          <b-img class="blog-thumbnail" :src="item._image"/>
        </b-col>
        <b-col sm="12" md="8">
        <h1><b>{{item._contentExcerpt.title.rendered}}</b></h1> 
        <div v-html="item._contentExcerpt.excerpt.rendered" ></div>
          <nuxt-link :to="'/posts/' + item._contentExcerpt.id">
            <a :href="item._contentExcerpt.link" target="_blank" class="goto-news green-btn" style="margin-bottom:20px;">查看全文</a>
          </nuxt-link>
           </b-col>     
      </b-row>
    
   

    <!-- </b-table> -->
  </b-container>
</template>

<script>
import https from 'https';

const agent = new https.Agent({  
      rejectUnauthorized: false
});
  export default {
    async asyncData ({ app, store, params }) {
    let page = await app.$axios.get('https://blog.sirucanada.com//wp-json/wp/v2/posts?_embed')
        store.commit('setPost', page.data)
        let items = []
        if(page.data){
          page.data.forEach(x=>{
              items.push({                 
                  _image:x._embedded['wp:featuredmedia']['0'].source_url,
                  _contentExcerpt: x
              })
          })
        }
        return {
          items: items,
          fields: [
            {key:'image', label:'image',thStyle: {
     display: 'none'
  }},
            {key:'contentExcerpt',label:'expert',thStyle: {
     display: 'none'
  }}
          ]

        }

    },
    data() {
      return {
        perPage: 3,
        currentPage: 1,
      }
    },
    computed: {
      rows() {
        return this.$store.state.posts.length;
      },
      postList() {
        return this.$store.state.post;
      }
    },

  }
</script>

<style lang="scss" scoped>
.blog-thumbnail{
  max-width:300px;
}
</style>

