<template>
  <div>
   <Nav v-show="$nuxt.$route.path!='/'"/>
    <nuxt />
    <Footer />
  </div>
</template>

<script>
import Nav from '~/components/Nav';
import Footer from '~/components/Footer';
export default {
  components:{
    Nav,
    Footer
  },
  created() {
    this.$axios.get('https://blog.sirucanada.com//wp-json/wp/v2/posts?_embed')
    .then(page => {
      this.$store.commit('setPost', page.data)
        let items = []
        if(page.data){
          page.data.forEach(x=>{
              items.push({                 
                  _image:x._embedded['wp:featuredmedia']['0'].source_url,
                  _contentExcerpt: x
              })
          })
        }
        return {
          items: items,
          fields: [
            {key:'image', label:'image',thStyle: {
     display: 'none'
  }},
            {key:'contentExcerpt',label:'expert',thStyle: {
     display: 'none'
  }}
          ]

        }
    })
  }
}
</script>

<style>

</style>
