<template>
  <b-container style="margin-top:10%;">
    <br><br><br>
    <b-row>
      <div class="about-container">
        <b-col sm="12" md="6" class="about-text">
          <div class="about-title">
            <h1>思儒国际 </h1>
          </div><br>
          <p>思儒国际（SIRU INTERNATIAONL INC.）是一家集留学、移民咨询，海外安置，各类签证等服务为一体的加拿大海外信息咨询服务公司。</p>
          <p>思儒国际（SIRU INTERNATIONAL
            INC.）总部位于加拿大省多伦多市区，地处加拿大教育经济文化中心。公司由安省为中心点向外省扩散从中进行信息收集更新、院校、移民等项目规整及对接，并从中筛选优质资源提供给国内外有需求的客户并帮助客户进行咨询-规划-办理-安置等一系列服务。
          </p>
          <p>
            作为一家留学移民信息咨询公司，思儒国际致力于：为客户提供一手的信息资源，消除信息不对等，使客户快速了解最新的留学移民政策；为客户提供最优质的境内外服务，让客户从项目申请到境外落地安置体验到无缝衔接的一站式服务；为客户提供专业的课程、移民、职业等规划，专注客户未来发展；为客户提供完备的档案系统，将客户的文件建档，以便客户随时查询调取；保障客户的隐私安全，与客户签订保密协议。
          </p>
        </b-col>
        <b-col class="about-img" sm="12" md="5">
          </b-col>
      </div>
    </b-row><br><br>
    <div class="about-title">
      <h1>人员架构 </h1>
    </div>
    <br>
    <b-row>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>移民签证部门 </h1>
          <p>由专业持牌移民律师（ICCRC）组成，负责实时更新移民及签证政策，分析申请形势，为申请人制定计划，整理相关资料并递交申请。</p>
        </div>
      </b-col><br>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>文案部门 </h1>
          <p>院校申请、文案撰写、申请材料的整理及翻译。</p>
        </div>
      </b-col><br>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>顾问部门 </h1>
          <p>及时更新院校信息，分析院校情况，为留学申请人制定留学计划，选择目标院校。</p>
        </div>
      </b-col>
    </b-row><br>
    <b-row>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>生活辅助部门 </h1>
          <p>落地安置服务，为客户在加拿大的生活提供相应帮助。</p>
        </div>
      </b-col><br>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>学业保障部门 </h1>
          <p>关注申请人在加拿大的学业状况，及时给出合理化建议，帮助学生调整学习计划，以保障其学习生涯不走或少走弯路。</p>
        </div>
      </b-col><br>
      <b-col sm="12" md="4">
        <div class="about-subtitle">
          <h1>活动部门 </h1>
          <p>搭建资源交流平台，提供义工、交流会等相关活动，使客户的海外生活更加充实饱满。</p>
        </div>
      </b-col>
    </b-row>
    <br>
    <hr class="divider-dashed">
    <br>
    <b-row>
      <div class="about-title">
        <h1>我们的优势 </h1>
      </div>
    </b-row>
    <br>
    <br>
    <!-- <b-row>
      <b-col sm="12" md="3">
        <div class="round-title">
          <h2>专注</h2>
        </div>
        <br>
        <p class="advantage-text">专注于加拿大留学移民及相关服务。</p>
      </b-col>
       <b-col sm="12" md="3">
        <div class="round-title">
          <h2>优质</h2>
        </div>
        <br>
        <p class="advantage-text">优质的信息资源输出，公司通过实践考察，对资源进行一一筛查，将过滤后的信息资源提供给客户。</p>
      </b-col>
       <b-col sm="12" md="3">
        <div class="round-title">
          <h2>专业</h2>
        </div>
        <br>
        <p class="advantage-text">咨询顾问、文案团队、移民律师均经过公司的专门职业培训及考核，以最专业的姿态组成的强大的服务团队。</p>
      </b-col>
        <b-col sm="12" md="3">
        <div class="round-title">
          <h2>细致</h2>
        </div>
        <br>
        <p class="advantage-text">为客户每一步的规划申请提供细致化的服务，保证服务的质量同时通过细节提高精准度。</p>
      </b-col>
    </b-row>
    <br>
    <b-row>
        <b-col sm="12" md="4">
        <div class="round-title">
          <h2>高效</h2>
        </div>
        <br>
        <p class="advantage-text">高效沟通了解客户需求，为客户量身定制申请方案，一对一文案及顾问专员整理客户材料，专属移民律师递交申请。</p>
      </b-col>
         <b-col sm="12" md="4">
        <div class="round-title">
          <h2>敏锐</h2>
        </div>
        <br>
        <p class="advantage-text">时刻掌握最新的留学移民政策，不断更新优化留学移民等资源。</p>
      </b-col>
        <b-col sm="12" md="4">
        <div class="round-title">
          <h2>隐私</h2>
        </div>
        <br>
        <p class="advantage-text">注重客户隐私，为客户的档案设密，提供安全有保障的申请平台。
        </p>
      </b-col>
    </b-row>
    <br>
    <b-row>
        <b-col class="grey"><h1>XX部门</h1></b-col>
         <b-col class="grey"><h1>XX部门</h1></b-col>
          <b-col class="grey"><h1>XX部门</h1></b-col>
    </b-row> -->
    <b-row>
      <b-col md="4" sm="12">
        <div v-if="vector==1">
          <div class="round-title">
            <h2>高效</h2>
          </div>
          <br>
          <p class="advantage-text">高效沟通了解客户需求，为客户量身定制申请方案，一对一文案及顾问专员整理客户材料，专属移民律师递交申请。</p>
        </div>
        <div v-if="vector==2">
          <div class="round-title">
          <h2>敏锐</h2>
          </div>
          <br>
          <p class="advantage-text">时刻掌握最新的留学移民政策，不断更新优化留学移民等资源。</p>
        </div>
        <div v-if="vector==3">
          <div class="round-title">
          <h2>隐私</h2>
          </div>
          <br>
          <p class="advantage-text">注重客户隐私，为客户的档案设密，提供安全有保障的申请平台。
          </p>
        </div>
        <div v-if="vector==4">
          <div class="round-title">
          <h2>专注</h2>
          </div>
          <br>
          <p class="advantage-text">专注于加拿大留学移民及相关服务。</p>
          </div>
        <div v-if="vector==5">
          <div class="round-title">
          <h2>优质</h2>
        </div>
        <br>
        <p class="advantage-text">优质的信息资源输出，公司通过实践考察，对资源进行一一筛查，将过滤后的信息资源提供给客户。</p></div>
        <div v-if="vector==6">
          <div class="round-title">
          <h2>专业</h2>
        </div>
        <br>
        <p class="advantage-text">咨询顾问、文案团队、移民律师均经过公司的专门职业培训及考核，以最专业的姿态组成的强大的服务团队。</p>
      </div>
        <div v-if="vector==7">
          <div class="round-title">
          <h2>细致</h2>
        </div>
        <br>
        <p class="advantage-text">为客户每一步的规划申请提供细致化的服务，保证服务的质量同时通过细节提高精准度。</p>
      </div>
      </b-col>
      <b-col md="4" sm="8" offset-sm="2">
            <Infographic/>
      </b-col>
    </b-row>
    <br>
    <br>
    <br>
  </b-container>
</template>

<script>
import Infographic from  '~/components/Infographic'
  export default {
    components:{
      Infographic
    },
    computed:{
        vector(){
          return this.$store.state.activeVector
        }
    }
  }

</script>
<style lang="scss" scoped>
  .about-title {
    border: 1px dashed #0F2748;
    padding: 3px;
    max-width: 180px;
    width: auto;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;

    h1 {
      color: #ffffff;
      background-color: #0F2748;
      border-radius: 15px;
      padding: 15px;
      margin: 2px;
    }
  }

  .about-subtitle {
    border: 1px dashed #d8d8d8;
    padding: 3px;
    //   max-width: 160px;
    width: auto;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;

    h1 {
      color: #0F2748;
      background-color: #d8d8d8;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      margin: 2px;
    }

    p {
      text-align: left;
      padding: 10px;
    }
  }

  .about-img {
    background-image: url('/img/about-img.jpg');
    background-size: cover;
    display: table-cell;
    background-position: center;
    width: 45%;
    border-radius: 15px;
  }

  .about-text {
    display: table-cell;
    width: 50%;
    padding-right: 50px;
  }

  .about-container {
    display: table;
  }

  .round-title {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border: 1px dashed #25B78A;
    padding: 4px;
    text-align: center;
    display: block;
    margin:auto;

    h2 {
      border-radius: 45px;
      font-size: 25px;
      width: 90px;
      height: 90px;
      background-color: #25B78A;
      color: #ffffff;
      padding: 33px 10px;
    }
  }
    .advantage-text{
        border: 1px dashed #25B78A;
        padding:15px;
        border-radius:10px;
        margin-bottom: 30px;
    }

    .divider-dashed{
        border:0.5px dotted #0F2748;
    }

    .grey{
        background-color:#f3f3f3;
        padding:30px;
        text-align: center;
        border:5px solid #ffffff;
        height:200px;

        h1{
            color:#000000;
        }
    }

</style>
