<template>
  <b-container>
    <br>
        <b-col  cols="8" class="d-block mx-auto" id="form">
          <br>
          <b-img src="/img/siru-logo-blue.svg" fluid class="d-block mx-auto sw-icon" width="60"/>
          <br>
            <p style="text-align:center;">联系我们获得更多资讯</p>
           <br>
           <br>
        <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CA0E79622663CCAAD9988F56FED8690E7D80BF39EE0CBA5588DBE0CE8AF6F4B0AA7E0B1DC1330FAB8B9F5DA6C72771D0B">
        <div class="form-group">
            <label>姓名</label>
            <input type="text" class="form-control" id="fieldtjujtuk" name="cm-f-tjujtuk" 
              placeholder="请填写您的姓名" required>
          </div>
            <div class="form-group">
            <label>电话</label>
            <input type="text" class="form-control" id="fieldtjujtuu" name="cm-f-tjujtuu" placeholder="请填写您的电话" required>
          </div>
        <div class="form-group">
            <label>微信</label>
            <input type="text" class="form-control" id="fieldtjujill" name="cm-f-tjujill" placeholder="请填写您的微信号">
          </div>
          <div class="form-group">
            <label>邮箱</label>
            <input type="email" class="form-control js-cm-email-input" id="fieldEmail" name="cm-jlhjyhk-jlhjyhk" aria-describedby="emailHelp" placeholder="请填写您的邮箱" required>
          </div>
          <div class="form-group">
            <label>请选择您需要的服务</label>
          <select class="form-control form-control-sm" id="fieldtjujirl" name="cm-fo-tjujirl">
            <option value="4716095">留学申请</option>
        <option value="4716096">签证申请</option>
        <option value="4716097">移民规划</option>
        <option value="4716098">监学护学</option>
        <option value="4716099">课程培训</option>
        <option value="4716100">后续服务</option>
            </select>
          </div>
            <br>
          <div class="form-group">
            <label for="exampleInputPassword1">留言</label>
            <textarea class="form-control" type="text" id="fieldtjujilr" name="cm-f-tjujilr" ></textarea>
          </div>

          <br>
          <button type="submit" class="btn d-block mx-auto js-cm-submit-button green-btn">发送</button>
        </form>
      </b-col>
    <br>
    <br>
    <br>
  </b-container>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
.mt{
    margin-top: 50px;
}
  #form {
    margin-top: 50px;
    padding:50px;
    -webkit-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.1);

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family:'Noto-light';
    font-size: 12px;
    color:#c2c2c2;
}

    h3{
        color:#7B3490;
    }
  }

</style>
