<template>

  <b-container>
    <br>
    <br>
    <nuxt-link to="/services" class="green-btn">返回上一页</nuxt-link>
    <br>
    <br>
    <br>
    <p>
      加拿大因其丰富的自然资源、优异的教育资源以及科技的飞速发展被评为世界上幸福感最高的国家之一。凭借着这些资源优势和相对宽松、友好的移民政策，加拿大每年吸引着来自世界各地的优秀人才。随着2017年百万移民计划的逐步展开，加拿大为有移民意向或已经开始准备移民的申请者提供了更多的移民机会，这些申请者移民成功后不但能够来到加拿大享受高福利的生活，同时他们的子女也可以免费享受加拿大优质的教育资源。永久居民的申请被批准后，加拿大移民局将向申请人发放移民签证，申请人持移民签证登陆加拿大即发放枫叶卡，成为加拿大永久居民。
    </p>
    <br>

    <div role="tablist">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-1 variant="info" text-left>{{title1}}</b-button>
        </b-card-header>
        <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>{{ text1 }}</b-card-text>
            <div>
              <b-card-group deck>
                <b-card header="加拿大经验类" class="text-center">
                  <b-card-text>加拿大经验类要求申请人计划在魁北克省之外的地方生活，在提交申请前的三年内在加拿大拥有至少1年的全职工作经验或相同工作时长的兼职工作经验，且职业类别属于NOC 0、A
                    或B。该工作经验必须是在申请人满足毕业条件后取得的，且申请人取得该工作经验时应在加拿大拥有合法身份，自雇及全日制学生在学习期间取得的工作经验不计入在内。此外，申请人还须满足相应的语言要求，工作经验属于NOC
                    0、A类，语言须达到CLB 7级（相当于雅思6分），工作经验属于NOC B类，语言须达到CLB
                    5级（相当于雅思阅读4分，其他三项5分）。申请人达到基本要求后，可以提交EE申请，EE的综合评分系统（CRS）将计算申请人分数，移民局每次抽签都会划定一个分数线，超过分数线的申请人将会收到邀请。
                  </b-card-text>
                </b-card>
                <b-card header="联邦技术移民" class="text-center">
                  <b-card-text> 联邦技术类移民要求申请人在过去10年中有1年连续的加拿大境内或境外的NOC 0、A、B类的工作经验，语言达到CLB
                    7级（相当于雅思6分）或以上。除此以外，移民局系统将根据申请人的年纪、教育、工作经验、是否有工作邀请（job
                    offer）、语言水平及适应性六个方面对申请人进行初步评分，分数在67分（含）以上，申请人方有资格提交EE申请。此评分系统与EE的CRS不同，申请人资料在进入EE系统后，CRS将重新计算申请人分数并进行排名，超过移民局每次抽签时划定的分数线的申请人将会收到移民局邀请。
                  </b-card-text>
                </b-card>
                <b-card header="联邦技工类移民（Federal Skilled Trades）" class="text-center">
                  <b-card-text> 联邦技工移民要求申请人计划在魁北克省之外的地方生活，在提交申请前的5年内有至少2年技工行业的全职工作或时间等同的兼职工作经验，语言能力口语和听力达到CLB
                    5级（相当于雅思5分）或以上，阅读和写作达到CLB 4级（相当于雅思雅思阅读3.5分、写作4分）或以上。此外，申请人还需获得LMIA（劳工市场影响评估Labour Market Impact
                    Assessment）或加拿大省级技术资格证书。申请人符合联邦技工类移民的基本要求后，可以提出EE申请，同EE项下其他类别一样，申请人提交申请后将按照 CRS 分数排名等待邀请。
                  </b-card-text>
                </b-card>
              </b-card-group>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-2 variant="info">二、团聚移民（Family sponsorship）</b-button>
        </b-card-header>
        <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>加拿大团聚类移民允许年满18周岁的加拿大公民或者永久居民担保某些亲属来加拿大工作、学习或者定居。团聚移民包括夫妻、同居伴侣和子女团聚（Sponsor your spouse, partner
              or children）、父母和祖父母团聚（Sponsor your parents and grandparents）、亲属担保（Sponsor your relatives）、收养的子女担保（Sponsor
              your adopted child）等类别。每个类别的申请流程及要求均有所不同，相同的是能够向移民局充分证明关系的真实性是各团聚类移民申请获得成功的关键。</b-card-text>
            <b-card header="配偶（夫妻、同居伴侣）团聚" class="text-center">
              <b-card-text>
                配偶团聚计划是加拿大团聚类移民项目的一部分，允许加拿大公民或永久居民担保其配偶或同居伴侣获得永久居民身份。配偶团聚分为境内申请和境外申请两类，办理流程有所不同：1、加拿大境外申请：如果申请人（被担保的配偶一方）在加拿大境外定居并提出移民申请，需按照境外流程进行申请。申请人应通过户籍地或合法居住一年以上地区的签证中心提交申请；2、加拿大境内申请：申请人在加拿大境内提出申请时需持有加拿大的合法身份，如学习许可、工作许可或访问签证等。与境外申请不同的是，申请人在境内提出移民申请后有资格获得开放式工签，工签申请可与移民申请一并提出。<br>
                无论申请境外团聚还是境内团聚，配偶团聚移民都需要经过两个过程：担保人申请担保资格和申请人申请永久居民签证。
              </b-card-text>
            </b-card>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-3 variant="info">三、各省省提名计划（Provincial Nominee Program，简称“PNP”）
          </b-button>
        </b-card-header>
        <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              加拿大大部分省都有自己的省提名计划，旨在为本省选出想在本省定居并能够满足本省发展需要的各类人才。省提名项目通常涵盖技术类（如毕业生提名、雇主担保类提名等）及经济类（如投资类提名），申请流程取决于所申请的省提名移民项目类别，根据该类别要求有可能需要纸质申请或者通过EE系统在线申请。纸质申请针对所有非对接EE项目的省提名申请，申请人需先向省移民厅提交申请材料，获得提名函后再通过纸质申请流程向联邦移民局提交永久居留权的申请。对接EE的省提名项目，根据项目不同可能要求申请人在获得省提名函后在联邦移民局网站建立EE账户，通过EE系统在线完成永久居留权申请或者先建立EE账户，在收到省提名邀请、向省移民厅提交申请材料并获得提名函后，通过EE系统完成永久居留权申请流程。
            </b-card-text>
            <br>
            <h2>安省省提名</h2>
            <p>
              安省是加拿大首都渥太华及最大城市多伦多的所在地，是加拿大的政治和经济中心。安省移民提名计划（OINP）允许外国工人、国际学生和其他具有适当技能、经验和教育的人申请安省永久居留提名，该计划旨在帮助安省满足其劳动力市场和经济发展需求。OINP由三个类别组成，每个类别分为几个项目：
            </p>
            <br>
            <br>
            <div>
              <!-- <b-card no-body> -->
                <b-tabs pills card class="provincial-nominee">
                  <b-tab title="雇主担保类别（Employer job offer category）" active>
                    <br>
                    <h3>1. 海外技术工人项目（Foreign Worker Stream）</h3>
                    <br>
                    <b-row>
                      <b-col md="4">
                        <b-list-group>
                          <br>
                          <br>
                          职位要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 符合职业类别要求的全职永久职位</b-list-group-item>
                          <b-list-group-item button>b. 工资不低于安省该职位现行工资中位数水平</b-list-group-item>
                          <b-list-group-item button>c. 职位对雇主是必要的</b-list-group-item>
                          <b-list-group-item button>d. 工作是在安省</b-list-group-item>
                        </b-list-group>
                      </b-col>
                      <b-col md="4">
                        <b-list-group>
                           <br>
                          <br>
                          申请人要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 与job offer职业类别相同的全职工作经验累计满两年且job offer是在提交移民申请前五年内获得的，或者有获得的job
                            offer工作所需的从业资格证书</b-list-group-item>
                          <b-list-group-item button>b. 如果该工作是需要提供从业资格证书的，申请人必须提供相关证书</b-list-group-item>
                          <b-list-group-item button>c. 在安省生活</b-list-group-item>
                          <b-list-group-item button>d. 如果申请人在加拿大境内申请，到获得提名时申请人均需具备加拿大的合法身份</b-list-group-item>
                        </b-list-group>
                      </b-col>

                      <b-col md="4">
                        <b-list-group>
                          <br>
                          <br>
                          雇主要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 企业成立至少3年</b-list-group-item>
                          <b-list-group-item button>b. 在安省有经营场所</b-list-group-item>
                          <b-list-group-item button>c.
                            在最近一个财政年度，有至少100万加元的收入总额并有至少五名全职员工是加拿大公民或永久居民（大多地区），或者总收入至少达到50万加元并有至少三名全职员工是加拿大公民或永久居民（大多以外地区）
                          </b-list-group-item>
                          <b-list-group-item button>d. 雇主需填写雇主表格以申请批准雇佣职位</b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                    <br>
                    <hr>
                    <br>
                    <h3>2. 国际学生项目(International Student Stream)</h3>
                    <br>
                    <b-row>
                      <b-col md="4">
                        <b-list-group>
                                                    <br>
                          <br>
                          职位要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 符合职业类别要求的全职永久职位</b-list-group-item>
                          <b-list-group-item button>b. 工资不低于安省初级工资水平</b-list-group-item>
                          <b-list-group-item button>c. 职位对雇主是必要的</b-list-group-item>
                          <b-list-group-item button>d. 工作是在安省</b-list-group-item>
                        </b-list-group>
                      </b-col>
                      <b-col md="4">
                          <br>
                          <br>
                        <b-list-group>
                          申请人要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 申请人就读加拿大两年全日制的文凭或学位课程，或一年的研究生学位课程或证书课程但之前已经取得一个学位或文凭
                          </b-list-group-item>
                          <b-list-group-item button>b. 如果该工作是需要提供从业资格证书的，申请人必须提供相关证书</b-list-group-item>
                          <b-list-group-item button>c. 在安省生活</b-list-group-item>
                          <b-list-group-item button>d. 如果申请人在加拿大境内申请，到获得提名时申请人均需具备加拿大的合法身份</b-list-group-item>
                          <b-list-group-item button>e. 申请人应在毕业后两年内提交申请</b-list-group-item>
                        </b-list-group>
                      </b-col>
                      <b-col md="4">
                          <br>
                          <br>
                        <b-list-group>
                          雇主要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 企业成立至少3年</b-list-group-item>
                          <b-list-group-item button>b. 在安省有经营场所</b-list-group-item>
                          <b-list-group-item button>c.
                            在最近一个财政年度，有至少100万加币的收入总额并有至少五名全职员工是加拿大公民或永久居民（大多地区），或者总收入至少达到50万加币并有至少三名全职员工是加拿大公民或永久居民（大多以外地区）
                          </b-list-group-item>
                          <b-list-group-item button>d. 雇主需填写雇主表格以申请批准雇佣职位</b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                    <br>
                    <hr>
                    <br>
                    <h3>3. 紧缺行业</h3>
                    <br>
                    <b-row>
                        <b-col md="4">
                        <b-list-group>
                          <br>
                          <br>
                          职位要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 符合职业类别要求的全职永久职位</b-list-group-item>
                          <b-list-group-item button>b. 工资不低于安省该职位现行工资中位数水平</b-list-group-item>
                          <b-list-group-item button>c. 职位对雇主是必要的</b-list-group-item>
                          <b-list-group-item button>d. 工作是在安省</b-list-group-item>
                        </b-list-group>
                      </b-col>
                           <b-col md="4">
                        <b-list-group>
                          <br>
                          <br>
                          申请人要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 在提交申请前的三年内在安省累积有一年的全职工作经验或等同时间的兼职工作经验，该工作经验应与job offer的工作类别相同
                          </b-list-group-item>
                          <b-list-group-item button>b. 如果该工作是需要提供从业资格证书的，申请人必须提供相关证书</b-list-group-item>
                          <b-list-group-item button>c. 语言要求：CLB 4级或以上</b-list-group-item>
                          <b-list-group-item button>d. 高中以上毕业或同等学历</b-list-group-item>
                          <b-list-group-item button>e. 足够的安置基金</b-list-group-item>
                          <b-list-group-item button>f. 将在安省生活</b-list-group-item>
                          <b-list-group-item button>g. 如果申请人在加拿大境内申请，到获得提名时申请人均需具备加拿大的合法身份</b-list-group-item>
                        </b-list-group>
                      </b-col>
                           <b-col md="4">
                        <b-list-group>
                          <br>
                          <br>
                          雇主要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 企业成立至少3年</b-list-group-item>
                          <b-list-group-item button>b. 在安省有经营场所</b-list-group-item>
                          <b-list-group-item button>c.
                            在最近一个财政年度，有至少100万加币的收入总额并有至少五名全职员工是加拿大公民或永久居民（大多地区），或者总收入至少达到50万加币并有至少三名全职员工是加拿大公民或永久居民（大多以外地区）
                          </b-list-group-item>
                          <b-list-group-item button>d. 雇主需填写雇主表格以申请批准雇佣职位</b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab title="人力资本类别（Human capital category）">
                    <br>
                    <h3>1. 研究生项目（Masters Graduate Stream）</h3>
                    <br>
                    <p>项目简介：在安大略省指定公立院校一年制以上硕士毕业并且英语需达到CLB 7（相当于雅思6分）就可以直接申请移民，无需工作经验，是众多移民项目中性价比较高的项目。缺点是该项目实施网上在线申请，系统采用分批开放的方式，每次额满后自动停止接受申请，安省申请人较多，往往申请通道开通不到一小时就额满关闭了，因此需要有经验的专业的留学移民机构时刻关注申请动态并为申请人抢到名额。</p>
                    <b-row>
                      <b-col>
                        <b-list-group>
                          基本要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 一年以上合格的安省全日制公立院校硕士毕业</b-list-group-item>
                          <b-list-group-item button>b. 语言要求：CLB7或以上</b-list-group-item>
                          <b-list-group-item button>c. 提交申请前的两年内至少一年在安省定居</b-list-group-item>
                          <b-list-group-item button>d. 足够的安置资金</b-list-group-item>
                          <b-list-group-item button>e. 将在安省生活</b-list-group-item>
                          <b-list-group-item button>f. 提交申请时在安省有合法的居留身份或者人在加拿大境外</b-list-group-item>
                          <b-list-group-item button>g. 申请必须在毕业后两年内提出</b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                    <br>
                    <hr>
                    <br>
                    <h3>2. 博士生项目（PhD Graduate Stream）</h3>
                    <br>
                    <p>项目简介：在安大略省指定公立院校完成两年制博士学习，无需工作经验，即有机会申请加拿大移民。</p>
                    <b-row>
                      <b-col>
                        <b-list-group>
                          基本要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 在安省合格的大学完成至少两年的学习，获得博士学位</b-list-group-item>
                          <b-list-group-item button>b. 提交申请前的两年内至少一年在安省定居</b-list-group-item>
                          <b-list-group-item button>c. 足够的安置资金</b-list-group-item>
                          <b-list-group-item button>d. 将在安省生活</b-list-group-item>
                          <b-list-group-item button>e. 提交申请时在安省有合法的居留身份或者人在加拿大境外</b-list-group-item>
                          <b-list-group-item button>f. 申请必须在毕业后两年内提出</b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                    <br>
                  </b-tab>
                  <b-tab title="商业移民类别（Business category）">
                    <br>
                    <h3>1. 企业家移民项目（Entrepreneur Stream）</h3>
                    <br>
                    <p> 企业家移民是安省省提名计划（OINP）商业移民类别中的一个项目。此项目适用于来自加拿大境外、有兴趣在安省开设新企业或购买现有企业的企业家。它为企业家（以及最多一个商业伙伴）提供了在安省建立企业后获得永久居留权的机会。</p>
                    <b-row>
                      <b-col>
                        <b-list-group>
                          基本要求
                          <br>
                          <br>
                          <b-list-group-item button>a. 管理经验<br>申请人必须在过去60个月内拥有至少36个月的企业所有者或者企业高管的全职企业管理经验。如果申请人是企业所有者，必须积极参加企业管理并且至少占有1/3的公司股权。如果申请人是公司高管，则必须在企业中拥有高级决策权。</b-list-group-item>
                          <b-list-group-item button>b. 净资产<br>如拟设立企业位于大多伦多地区，申请人的最低净资产须达到至少一百五十万加元。如果企业在大多伦多地区以外，申请人的最低净资产须达到至少八十万加元。如拟投资企业是在信息、通信技术或数字通信领域，无论企业是否在大多地区以内，申请人需拥有最低八十万加元净资产。</b-list-group-item>
                          <b-list-group-item button>c. 个人投资额和最低股份要求<br>如拟设立企业位于大多地区，申请人需至少投资一百万加元并至少占有公司三分之一的股权。如拟设立企业在大多地区以外，申请人需至少投资五十万加元并至少占有公司三分之一的股权。如拟投资企业是在信息、通信技术或数字通信领域，无论企业是否在大多地区以内，申请人需至少投资五十万加元并至少占有公司三分之一的股权。</b-list-group-item>
                          <b-list-group-item button>d. 积极参与<br>申请人必须积极参与企业管理</b-list-group-item>
                          <b-list-group-item button>e. 资本投资目的<br>企业投资的主要目的必须是赚取利润，不能是衍生利息、股息或资本收益。</b-list-group-item>
                          <b-list-group-item button>f. 创造就业机会<br>为加拿大公民或永久居民创建至少两个永久性全职工作，不低于安省该职位现行工资中位数水平。</b-list-group-item>
                          <b-list-group-item button>g. 购买现有企业的其他要求<br>
                          <ul>
                            <li>必须在注册EOI之日起12个月内到安省进行至少一次的商务访问</li>
                            <li>所购买的企业必须在过去60个月内由同一所有者持续运营</li>
                            <li>企业所有权必须完全转移给申请人或其合作伙伴</li>
                            <li>申请人的部分个人投资必须用于改善和扩大所收购的企业</li>
                            <li>须保留收购前已有的所有永久全职员工</li>
                          </ul>
                          </b-list-group-item>
                        </b-list-group>
                      </b-col>
                    </b-row>
                    <br>
                    <hr>
                      <b-row>
                      <b-col md="4">
                        <h3>一般的企业要求</h3>
                         <b-list-group>
                          <b-list-group-item button>a. 经营宗旨<br>企业的设立目的必须是通过销售商品和/或服务获取利润。</b-list-group-item>
                          <b-list-group-item button>b. 加拿大和安省的法律要求<br>企业必须遵守所有相关的联邦、省或市的法律、监管和许可要求。 这包括遵守安省的劳动和就业标准法。</b-list-group-item>
                          <b-list-group-item button>c. 永久企业<br>企业必须是永久性的，不能是基于项目和季节性的</b-list-group-item>
                          <b-list-group-item button>d. 安省的企业<br>企业必须始终在安省拥有营业地点。</b-list-group-item>
                        </b-list-group>
                      </b-col>
                      <b-col md="4">
                        <h3>不合格的企业类型</h3>
                         <b-list-group>
                          <b-list-group-item button>a. 以下企业不符合企业家移民的要求：
                            <ul>
                              <li>自动洗车业务</li>
                              <li>控股公司</li>
                              <li>洗衣店</li>
                              <li>典当行</li>
                              <li>支付日贷款和相关业务</li>
                              <li>废金属回收</li>
                              <li>轮胎回收</li>
                              <li>以前申请过OINP的企业 </li>
                            </ul>
                          </b-list-group-item>
                          <b-list-group-item button>b. 如果拟设立企业位于大多地区，则以下类型也不符合申请条件：
                            <ul>
                              <li>安省现有特许经营权企业</li>
                              <li>加油站</li>
                              <li>家庭旅馆</li>
                            </ul>
                          </b-list-group-item>
                        </b-list-group>
                      </b-col>
                      <b-col md="4">
                        <h3>基本申请流程</h3>
                        <b-list-group>
                          <b-list-group-item button>a. 安省企业家移民提名申请程序分为两个阶段：<br>
                          <hr>
                          <br>
                          <h4>第一阶段</h4>
                            <ul style="list-style-type:decimal;">
                              <li>在线完成EOI（An expression of interest）注册，向安省提出移民意愿;</li>
                              <li>安省政府将根据申请人在EOI中的打分向分数高的申请人发出邀请，申请人收到安省邀请后提交在线申请；</li>
                              <li>申请人及其商业伙伴（如有）需通过OINP办公室面试；</li>
                              <li>如申请人通过安省审核后须与安省政府签署执行协议。</li>
                            </ul>
                          </b-list-group-item>
                          <b-list-group-item button> <br>
                          <h4>第二阶段</h4>
                            <ul style="list-style-type:decimal;">
                              <li>安省向申请人签发办理临时工作许可的支持信，申请人可以据此向联邦移民局申请工作签证；</li>
                              <li>申请人需在登陆安省后20个月内实施商业计划并提交最终的报告；</li>
                              <li>如果申请人的企业符合所有要求，安省会要求申请人提供证明文件以确保申请人有资格获得永久居留权提名。</li>
                            </ul>
                          </b-list-group-item>
                           <b-list-group-item button>b. 在申请人获得省提名函后6个月内向联邦移民局提交永久居留权申请。</b-list-group-item>
                        </b-list-group>
                      </b-col>
                      </b-row>
                    <br>
                    
                 
                    <hr>
                    <br>
                 
                  
                
                    <br>
                    <hr>
          
                    <br>
            
                    <br>
                  </b-tab>
                </b-tabs>

            </div>
            <br>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-4 variant="info">四、海洋省移民试点项目（Atlantic Immigration Pilot）
          </b-button>
        </b-card-header>
        <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>海洋省移民试点项目适用于加拿大大西洋四省：新不伦瑞克（New Brunswick）、纽芬兰与拉布拉托（Newfoundland and Labrador）、新斯科舍（Nova
              Scotia）、爱德华王子岛（Prince Edward
              Island），该试点项目的目的是为了帮助大西洋省的雇主雇用到希望移民大西洋四省的外国技术工人和希望在毕业后留在大西洋四省工作生活的国际毕业生。该项目分为三个类别：海洋省国际毕业生项目（Atlantic
              International Graduate Program）、海洋省高技能项目（Atlantic High-Skilled Program）以及海洋省中等技能项目（Atlantic
              Intermediate-Skilled Program）。三个项目均要求申请人英语或法语水平达到CLB
              4级，获得符合职业类别要求的雇主邀请，对教育背景和工作经验的要求略有区别。申请人可能同时符合一个或多个类别的要求，但申请时只能选择其中一个项目进行申请。</b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-5 variant="info">五、创业移民项目（Start-up Visa Program）</b-button>
        </b-card-header>
        <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              创业移民项目旨在吸引海外精英人才来到加拿大创办企业，为加拿大创造就业机会，从而促进加拿大的经济增长。申请创业移民项目要求申请人在魁北克以外地区居住，必须创立一个符合移民要求的企业，投资计划需得到加拿大政府指定投资机构的支持，英语或法语水平达到CLB
              5级，有足够的定居安置资金。</b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-6 variant="info">六、联邦自雇移民（Self-employed）</b-button>
        </b-card-header>
        <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              联邦自雇移民是为了吸引文化及体育行业的优秀人才移民到加拿大。申请人必须在文化或体育活动领域具备相关的经验并且可以为加拿大的文化和体育生活作出突出的贡献。相关经验指申请人在提出移民申请前的5年到移民决定做出前有至少2年的文化或体育领域方面的自雇经验或者参加了文化或体育领域方面世界级的活动。满足自雇移民申请条件的申请人，移民局将会从教育、经验、年纪、语言水平和适应能力五个方面进行评估，总分为100分，申请人需至少达到35分或以上。除此以外，申请人及家庭成员还需通过体检及无犯罪记录审查。
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-7 variant="info">七、联邦护理类（住家保姆）移民（caregivers）</b-button>
        </b-card-header>
        <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>2019年2月23日，加拿大政府宣布加拿大将试点两个新的护理类移民项目：家庭儿童照顾者试点（Home Child Care Provider Pilot）及家庭护理者试点（Home
              Support Worker
              Pilot），具体实施细则移民局将于2019年晚些时候公布，原有护理类项目将于2019年11月29日到期。由于原有项目要求申请人提出申请时在加拿大有至少2年的符合要求的工作经验，因此至2019年11月29日前已经持有该类别工签但在加拿大工作未满2年的申请人将无法申请永久居留权。针对这部分人，联邦移民局推出了一个过渡项目(Interim
              Pathway for Caregivers)，这个项目要求相对较低，仅要求申请人有一年的家庭儿童照顾或家庭护理工作经验。该过渡项目于2019年3月4日开放至6月4日结束。
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>


      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" role="tab">
          <b-button block href="#" v-b-toggle.accordion-8 variant="info">八、魁北克技术移民（Quebec-selected skilled workers）
          </b-button>
        </b-card-header>
        <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              魁北克省与加拿大政府签署了移民特别协议。 根据该协议，该省可以拥有自己的移民规则。因此，魁北克的技术移民申请分为两个阶段：1、向魁北克政府申请魁北克甄选证书（Quebec Selection
              Certificate，简称“”CSQ），这一阶段魁北克政府将用魁北克自己的标准对申请人进行评估，对符合移民要求的人颁发CSQ。2、申请人获得CSQ后，还需向联邦移民局提交永久居民申请。完成这两个步骤后，申请人才能获得加拿大永久居民身份。
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
    <br>
    <br>
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        section: 0,
        items: [
          '配偶团聚',
          '加拿大移民快速通道项目',
        ],
        title1: '一、快速通道项目（Express Entry，简称“EE”）',
        text1: ' 加拿大快速通道项目是2015年1月1日起执行的加拿大技术类移民的申请模式，适用于联邦技术类移民（Federal Skilled Workers）、加拿大经验类移民（Canadian Experience Class）和联邦技工类移民（Federal Skilled Trades）。EE申请采用网络方式提交，除非移民局有特殊要求，所有材料只需提交电子版即可。目前快速通道项目每年分配的配额是各个移民类别中最多的，且人数呈逐年递增的趋势。申请人申请EE项下移民项目须达到各项目移民局规定的基本要求，符合要求的申请人可在移民局网站建立EE的个人账户，并按系统要求填写各项资料，EE的综合评分系统（CRS）将计算申请人分数，移民局每次抽签都会划定一个分数线，超过分数线的申请人将会收到邀请。申请人应在收到邀请后60天内按照移民局要求提交全部材料。移民局收到材料后，经过背景调查、体检等阶段，6个月内，移民局给出获签还是拒签的决定。'
      }
    }

  }

</script>

<style lang="scss" scoped>


</style>
