<template>
    <div>
    <div class="index-nav d-none d-sm-block">
        <br>
        <br>
        <b-container style="position: relative;">
              <b-row class="justify-content-md-center">
       </b-row>
  <b-navbar toggleable="lg" type="dark" variant="index-nav">
       <br><br>
    <b-navbar-brand href="/">
      <b-img src="/img/siru-logo.svg" width="40"/>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
     
    <b-collapse id="nav-collapse" is-nav class="justify-content-md-center">
      <!-- Right aligned nav items -->
      <b-navbar-nav>
        <b-nav-item href="/about" class="one">关于我们</b-nav-item>
        <b-nav-item href="/services" class="two">服务项目</b-nav-item>
        <b-nav-item href="/volunteer" class="four">义工招募</b-nav-item>
        <b-nav-item href="/posts" class="three">信息资讯</b-nav-item>
        <b-nav-item href="/volunteer" class="four">思儒活动</b-nav-item>
        <b-nav-item href="/posts" class="five">成功案例</b-nav-item>
        <b-nav-item href="/contactus" class="five">联系我们</b-nav-item>
        <hr>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <Nav/>
        </b-container>
  </div>
  <b-navbar toggleable="lg" type="dark" fixed="top" variant="main-nav" class="d-md-none">
    <b-container>
    <b-navbar-brand href="/">
      <b-img src="/img/siru-logo.svg" width="40"/>
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
      <b-nav-item href="/about" class="one">关于我们</b-nav-item>
        <b-nav-item href="/services" class="two">服务项目</b-nav-item>
        <b-nav-item href="/volunteer" class="four">义工招募</b-nav-item>
        <b-nav-item href="/posts" class="three">信息资讯</b-nav-item>
        <b-nav-item href="/volunteer" class="four">思儒活动</b-nav-item>
        <b-nav-item href="/posts" class="five">成功案例</b-nav-item>
        <b-nav-item href="/contactus" class="five">联系我们</b-nav-item>
        <hr>
      </b-navbar-nav>
    </b-collapse>
    </b-container>
  </b-navbar>


        <slick
  ref="slick" :options="slickOptions">
    <b-container fluid class="top-slider-banner">
            <b-row class="vertical-center">
                <b-col>
                    <h1>思儒国际留学移民咨询有限公司</h1>
                    <h2>SIRU INTERNATIONAL INC.</h2>
                    <br>
                    <h3>将您的留学生活规划到每一步</h3>
                    <br>
                    <nuxt-link to="services" class="green-btn">了解详情</nuxt-link>
                </b-col>
            </b-row>
        </b-container>
          <b-container fluid class="top-slider-banner">
            <b-row class="vertical-center">
                <b-col>
                    <h1 data-aos="fade-up" data-aos-delay="150">思儒国际留学移民咨询有限公司</h1>
                    <h2 data-aos="fade-up" data-aos-delay="250">SIRU INTERNATIONAL INC.</h2>
                    <br>
                    <h3 data-aos="fade-up" data-aos-delay="300">将您的留学生活规划到每一步</h3>
                    <br>
                    <nuxt-link to="services" class="green-btn" data-aos="fade-up" data-aos-delay="350">了解详情</nuxt-link>
                </b-col>
            </b-row>
        </b-container>
</slick>
        <Service/>
        <!-- <News/> -->
          <section class="section-gray">
        <b-container>
            <b-row>
                <b-col data-aos="fade-up" data-aos-delay="50">
                    <h1>思儒信息动态</h1>
                    <h3>实时动态更新，使你的海外生活先人一步。</h3>
                </b-col>
                <b-col>
                    <nuxt-link to="posts" class="green-btn float-right" >
                    更多资讯
                    </nuxt-link>
                </b-col>
            </b-row>
            <br>
            <b-row class="top-news">
                <b-col data-aos="fade-up" data-aos-delay="150" v-for="(blog, index) in $store.state.posts" :key="index">
                    <b-img :src="blog._embedded['wp:featuredmedia']['0'].source_url" fluid/>
                    <h3>{{blog.title.rendered}}</h3>
                    <nuxt-link :to="'/posts/' + blog.id">
                        <a :href="blog.link" target="_blank" class="goto-news">查看全文</a>
                    </nuxt-link>
                </b-col>
            </b-row>
  
        </b-container>
    </section>
        <Achive/>
        <Volunteer/>
        <Universities/>
    </div>
</template>

<script>
import Service from  '~/components/index-service'
import Achive from  '~/components/index-achive'
import Volunteer from  '~/components/index-volunteer'
import Universities from  '~/components/index-universities'

export default {

    head () {
    return {
      title: '思儒国际留学 Siru International Inc.',
      meta: [
        { hid: 'description', name: 'description', content: '思儒国际留学 Siru International Inc.' }
      ]
    }
  },
    data(){
        return{
            slickOptions: {
                dots: true,
                arrow:true,
                infinite:false
            },
            
        }
    },
    components:{
        Service,
        Achive,
        Volunteer,
        Universities
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/element.scss';
    .index-nav{
        position: absolute;
        z-index: 999999;
        width:100%;
    }

    .bg-index-nav{
        background:transparent;
        a{
            border-bottom:5px solid rgba(0, 0, 0, 0);
            text-align: center;
            width: auto;
            transition: border-bottom 0.5s;
        }
        a:hover{
            border-bottom:5px solid $green;
        }
        .nav-item{
            margin: auto 15px;
        }
        .nav-link {
            margin: auto 0px;
        }
    }
    .top-slider-banner{
        h1,h2,h3{
            color:#ffffff;
        }
    }
</style>
