<template>
  <div>
    <div class='container-fluid'>
      <div class="row">
        <div class="secondary-banner">
          <div class="secondary-banner-content">
            <h1>服务细致高效</h1>
            <h2>确保高质量，高效率的达成留学目标</h2>
            <p style="margin-top:40px;">思儒国际凭借优越的地理位置，不断挖掘高品质的教育资源，更凭借其专业高效的服务质量，
              在业内赢得了良好的声誉和口碑。思儒国际，通过频繁为市场考察和院校走访，与本地院校和商业机构建立深度合作，
              不断开发新型留学及移民项目，为客户提供更优质，更多样化的服务。</p>
            <div style="margin-top:40px"><button>
                <span class="green-btn">服务详情</span>
              </button></div>
          </div>
        </div>
      </div>
    </div>
    <section class="container main-content">
      <div class="row">
        <div id="side-bar" class="sidebar">
          <ul>
            <li @click="activetab='01'" :class="[ activetab === '01' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>01 留学申请</div>
            </li>
            <li @click="activetab='02'" :class="[ activetab === '02' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>02 签证申请</div>
            </li>
            <li @click="activetab='03'" :class="[ activetab === '03' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>03 移民规划</div>
            </li>
            <li @click="activetab='04'" :class="[ activetab === '04' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>04 语言培训</div>
            </li>
            <li @click="activetab='05'" :class="[ activetab === '05' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>05 护学规划</div>
            </li>
            <li @click="activetab='06'" :class="[ activetab === '06' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
              <div>06 后续服务</div>
            </li>
          </ul>
        </div>
        <Serviceone v-if="activetab === '01'" />
        <Servicetwo v-if="activetab === '02'" />
        <div v-if="activetab === '03'" class="col-md-9 content">
            <h1>移民规划</h1>
            <p>加拿大凭借自然资源丰富，教育资源优异和科技飞速发展被评为世界上幸福感最高的国家之一。除了国家的资源优势和魅力之外，加拿大还是世界著名的移民大国。随着2017年加拿大百万移民计划的逐步展开，对于有移民倾向或已经开始准备移民的申请者来说，将会有更多的机会，移民成功后不但能够来到加拿大享受高福利的生活，同时子女可以免费享受加拿大优质教育资源。
            思儒国际联合加拿大本地优异雇主资源, 根据移民政策开发多样化的移民项目来满足客户需要。
            </p>
        </div>
        <div v-if="activetab === '04'" class="col-md-9 content">
            <h1>护学服务</h1>
            <p>小龄留学已经成为趋势。面对小龄申请者思儒国际为您提供全方位的护学服务。护学服务的设定是为了帮助年较小的留学生更快更好地适应加拿大的学习和生活。思儒国际将会从学业、生活、未来规划、义工服务等多方面对学生进行辅助和指导，让你安心、放心、开心地开启加拿大的生活学习。
            </p>
        </div>
        <div v-if="activetab === '05'" class="col-md-9 content">
            <h1>语言培训</h1>
            <p>加拿大高中、学院、大学申请均对母语非英语的学生有语言要求。顶级私立和公立学校高年级录取要求雅思6.0或6.5，学院直接录取的语言要求为雅思6.0， 大学直接录取的语言要求为雅思6.5，单科不低于6.0。可见语言是成功入读学院、大学的桥梁。思儒国际语言培训项目为学生提供多种形式的语言辅导课程，让语言成为你的加分项！
            </p>
        </div>
        <div v-if="activetab === '06'" class="col-md-9 content">
            <h1>后续服务</h1>
            <p>落地加拿大后，思儒国际依然在你身边。接机服务、银行卡电话卡办理、到学校报道注册，你的需求就是我们的追求。思儒国际生活辅导专员让你无缝衔接加拿大的生活。</p>
        </div>
      </div>

    </section>
  </div>
</template>

<script>
  import Serviceone from '~/components/Serviceone'
  import Servicetwo from '~/components/Servicetwo'

  export default {
    components: {
      Serviceone,
      Servicetwo
    },
    data: function () {
      return {
        activetab: "01",
      }
    },
    mounted(){
      $(document).ready(function(){
        $(window).scroll(function(event){
        var scroll=$(this).scrollTop();
        if(scroll > ($("nav").outerHeight()+400)) {
            $("#side-bar").addClass("fixed-sidebar")
        }
        else{
          $("#side-bar").removeClass("fixed-sidebar")
        }
    })
      });
    },
    methods: {
      toggleAdv() {
        console.log("haha")
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '@/assets/css/main.scss';
@media (max-width: 768px){
       .secondary-banner-content{
                width:100% !important;
        }        
  }
  .secondary-banner {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-image: url('/img/service-banner-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .secondary-banner-content {
      background-color: rgba(255, 255, 255, 0.7);
      width: 40%;
      height: 100%;
      padding: 50px;

      position: relative;
    }
  }

  ul {
    list-style: none;
    max-width: 200px;
    padding: 0;
    margin: auto;
  }

  ul li.sub-nav-list {
    text-align: center;
    /* border-left: 0.5em solid black; */
    background-color: #dfdfe6;
    font-size: 1rem;
    text-align: center;
    color: #0d2c51;
    font-weight: bold;

    border-left: 1rem solid $blue;

    &.active {
      border-left: 1rem solid #ff7332 !important;
    }
  }

  ul li.sub-nav-list div {
    padding: 0.5em 0;
    border-bottom: 4px solid white;
  }

  ul li.sub-nav-list:hover {

    cursor: pointer;

  }

  ul li:last-child div {
    border-bottom: none;
  }

  .main-content {
    padding-top: 100px;
  }


  .fixed-sidebar {
    position: fixed !important;
    top: 100px;
  }

  .sidebar {
    width: 200px;
    position: absolute;
  }


  
</style>
