<template>
  <div>
    <div class=" d-none d-sm-block">
      <section class="container main-content">
        <div class="row">
          <b-col id="side-bar" class="sidebar" cols="3">
            <ul>
              <li @click="activetab='01'" :class="[ activetab === '01' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>01 留学申请</div>
              </li>
              <li @click="activetab='02'" :class="[ activetab === '02' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>02 签证申请</div>
              </li>
              <li @click="activetab='03'" :class="[ activetab === '03' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>03 移民规划</div>
              </li>
              <li @click="activetab='04'" :class="[ activetab === '04' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>04 监护护学</div>
              </li>
              <li @click="activetab='05'" :class="[ activetab === '05' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>05 课程培训</div>
              </li>
              <li @click="activetab='06'" :class="[ activetab === '06' ? 'active' + ' sub-nav-list' : 'sub-nav-list' ]">
                <div>06 后续服务</div>
              </li>
            </ul>
          </b-col>
          <Serviceone v-if="activetab === '01'" />
          <Servicetwo v-if="activetab === '02'" />
          <div v-if="activetab === '03'" class="col-md-9 content">
            <h1>移民规划</h1>
            <p>
              加拿大因其丰富的自然资源、优异的教育资源以及科技的飞速发展被评为世界上幸福感最高的国家之一。凭借着这些资源优势和相对宽松、友好的移民政策，加拿大每年吸引着来自世界各地的优秀人才。随着2017年百万移民计划的逐步展开，加拿大为有移民意向或已经开始准备移民的申请者提供了更多的移民机会，这些申请者移民成功后不但能够来到加拿大享受高福利的生活，同时他们的子女也可以免费享受加拿大优质的教育资源。永久居民的申请被批准后，加拿大移民局将向申请人发放移民签证，申请人持移民签证登陆加拿大即发放枫叶卡，成为加拿大永久居民。
            </p>
            <nuxt-link to="/immigration-plan" class="green-btn">了解更多</nuxt-link>
          </div>

          <div v-if="activetab === '04'" class="col-md-9 content">
            <!-- <h1>监学护学</h1>
            <p>
              小龄留学已经成为趋势。面对小龄申请者思儒国际为您提供全方位的护学服务。护学服务的设定是为了帮助年较小的留学生更快更好地适应加拿大的学习和生活。思儒国际将会从学业、生活、未来规划、义工服务等多方面对学生进行辅助和指导，让你安心、放心、开心地开启加拿大的生活学习。
            </p> -->
            <b-row style="padding-top:5%;">
              <b-col class="service-icon">
                <nuxt-link to="/study-care#studycare1">
                  <b-img src="/img/test.svg" width="80" />
                  <h3>监护服务</h3>
                </nuxt-link>
              </b-col>
              <b-col class="service-icon">
                <nuxt-link to="/study-care#studycare2">
                  <b-img src="/img/application.svg" width="80"/>
                  <h3>护学服务</h3>
                </nuxt-link>
              </b-col>
            </b-row>
          </div>
          <div v-if="activetab === '05'" class="col-md-9 content">
            <b-row style="padding-top:5%;">
              <b-col class="service-icon">
                  <b-img src="/img/language.svg" width="80"/>
                  <h3>语言培训</h3>
              </b-col>
              <b-col class="service-icon">
                  <b-img src="/img/website.svg" width="80" />
                  <h3>网站制作培训</h3>
              </b-col>
              <b-col class="service-icon">
                  <b-img src="/img/art.svg" width="80"/>
                  <h3>艺术培训</h3>
              </b-col>
              <b-col class="service-icon">
                  <b-img src="/img/online-class.svg" width="80"/>
                  <h3>网课培训</h3>
              </b-col>
            </b-row>
          </div>
          <div v-if="activetab === '06'" class="col-md-9 content">
            <!-- <h1>后续服务</h1>
            <p>落地加拿大后，思儒国际依然在你身边。接机服务、银行卡电话卡办理、到学校报道注册，你的需求就是我们的追求。思儒国际生活辅导专员让你无缝衔接加拿大的生活。</p> -->
               <b-row style="padding-top:5%;">
              <b-col class="service-icon">
                  <b-img src="/img/taxi.svg" width="80"/>
                  <h3>机场接送</h3>
              </b-col>
              <b-col class="service-icon">
                  <b-img src="/img/residential.svg" width="80"/>
                  <h3>安置服务</h3>
              </b-col>
                  <b-col class="service-icon">
                  <b-img src="/img/house.svg" width="80"/>
                  <h3>寄宿家庭</h3>
              </b-col>
            </b-row>
          </div>
        </div>
      </section>
    </div>

    <div role="tablist" class="d-block d-sm-none">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-1 variant="info">01 留学申请</b-button>
        </b-card-header>
        <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
                  <b-row>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/student-visa#highschool">
          <b-img src="/img/test.svg" width="80" />
          <h3 >高中申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/student-visa#college">
          <b-img src="/img/application.svg" width="80"  />
          <h3 >College申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/student-visa#university">
          <b-img src="/img/university-school.svg" width="80"  />
          <h3>大学申请</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/student-visa#continuestudy">
          <b-img src="/img/mortarboard.svg" width="80" />
          <h3>研究生申请</h3>
        </nuxt-link>
      </b-col>
    </b-row>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-2 variant="info">02 签证申请</b-button>
        </b-card-header>
        <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
          <b-row>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/visa-application#studypermit">
          <b-img src="/img/test.svg" width="80"/>
          <h3>学习签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/visa-application#workingpermit">
          <b-img src="/img/application.svg" width="80" />
          <h3>工作签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/visa-application#temppermit">
          <b-img src="/img/visa-icon-2.svg" width="80" />
          <h3>临时签证</h3>
        </nuxt-link>
      </b-col>
      <b-col class="service-icon" cols="5" md="auto">
        <nuxt-link to="/visa-application#temppermit">
          <b-img src="/img/question-visa.svg" width="80"/>
          <h3 >疑难签证</h3>
        </nuxt-link>
      </b-col>
    </b-row>
    </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-3 variant="info">03 移民规划</b-button>
        </b-card-header>
        <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
            加拿大因其丰富的自然资源、优异的教育资源以及科技的飞速发展被评为世界上幸福感最高的国家之一。凭借着这些资源优势和相对宽松、友好的移民政策，加拿大每年吸引着来自世界各地的优秀人才。随着2017年百万移民计划的逐步展开，加拿大为有移民意向或已经开始准备移民的申请者提供了更多的移民机会，这些申请者移民成功后不但能够来到加拿大享受高福利的生活，同时他们的子女也可以免费享受加拿大优质的教育资源。永久居民的申请被批准后，加拿大移民局将向申请人发放移民签证，申请人持移民签证登陆加拿大即发放枫叶卡，成为加拿大永久居民。
            </b-card-text>
            <nuxt-link to="/immigration-plan" class="green-btn">了解更多</nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-4 variant="info">04 监学护学</b-button>
        </b-card-header>
        <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              <b-row>
              <b-col class="service-icon" cols="5" md="auto">
                <nuxt-link to="/study-care#studycare1">
                  <b-img src="/img/test.svg" width="80" />
                  <h3>监护服务</h3>
                </nuxt-link>
              </b-col>
              <b-col class="service-icon" cols="5" md="auto">
                <nuxt-link to="/study-care#studycare2">
                  <b-img src="/img/application.svg" width="80"/>
                  <h3>护学服务</h3>
                </nuxt-link>
              </b-col>
            </b-row>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-5 variant="info">05 课程培训</b-button>
        </b-card-header>
        <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
                        <b-row>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/language.svg" width="80"/>
                  <h3>语言培训</h3>
              </b-col>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/website.svg" width="80" />
                  <h3>网站制作培训</h3>
              </b-col>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/art.svg" width="80"/>
                  <h3>艺术培训</h3>
              </b-col>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/online-class.svg" width="80"/>
                  <h3>网课培训</h3>
              </b-col>
            </b-row>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-6 variant="info">06 后续服务</b-button>
        </b-card-header>
        <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
                         <b-row>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/taxi.svg" width="80"/>
                  <h3>机场接送</h3>
              </b-col>
              <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/residential.svg" width="80"/>
                  <h3>安置服务</h3>
              </b-col>
                  <b-col class="service-icon" cols="5" md="auto">
                  <b-img src="/img/house.svg" width="80"/>
                  <h3>寄宿家庭</h3>
              </b-col>
            </b-row>
            </b-card-text>
            <!-- <nuxt-link to="servicesList/immigration-plan" class="green-btn">了解更多</nuxt-link> -->
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </div>
</template>

<script>
  import Serviceone from '~/components/Serviceone'
  import Servicetwo from '~/components/Servicetwo'

  export default {
    components: {
      Serviceone,
      Servicetwo
    },
    data: function () {
      return {
        activetab: "01",
      }
    },
    mounted() {
      $(document).ready(function () {
        $(window).scroll(function (event) {
          var scroll = $(this).scrollTop();
          if (scroll > ($("nav").outerHeight() + 400)) {
            $("#side-bar").addClass("fixed-sidebar")
          } else {
            $("#side-bar").removeClass("fixed-sidebar")
          }
        })
      });
    },
    methods: {
      toggleAdv() {
        console.log("haha")
      }
    }
  }

</script>

<style lang="scss" scoped>
  @import '@/assets/css/main.scss';

  @media (max-width: 768px) {
    .secondary-banner-content {
      width: 100% !important;
    }
  }

  .secondary-banner {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-image: url('/img/service-banner-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .secondary-banner-content {
      background-color: #0F2748;
      width: 40%;
      height: 100%;
      padding: 50px;
      color: #ffffff;
      position: relative;

      h1,
      h2,
      p {
        color: #ffffff;
      }
    }
  }

  ul {
    list-style: none;
    max-width: 200px;
    padding: 0;
    margin: auto;
  }

  ul li.sub-nav-list {
    text-align: center;
    /* border-left: 0.5em solid black; */
    background-color: #dfdfe6;
    font-size: 1rem;
    text-align: center;
    color: #0d2c51;
    font-weight: bold;
    transition: all 0.5s;
    border-left: 1rem solid $blue;
    // transition: font-size 0.5s;

    &.active {
      border-left: 1rem solid #ff7332 !important;
      background-color: #f5f5f5;
      // transition: font-size 0.5s;
      // font-size:1.2rem;
    }
  }

  ul li.sub-nav-list div {
    padding: 0.5em 0;
    border-bottom: 2px solid white;
  }

  ul li.sub-nav-list:hover {

    cursor: pointer;

  }

  ul li:last-child div {
    border-bottom: none;
  }

  .main-content {
    padding-top: 100px;
  }


  //   .fixed-sidebar {
  //     position: fixed !important;
  //     top: 100px;
  //   }

  .sidebar {
    width: 200px;
    // position: absolute;
  }

</style>
