<template>
  <b-container style="margin-top:10%;">
    <br>
    <br>
    <b-row>
      <b-col cols="3">
        <nuxt-link to="/services" class="green-btn">返回上一页</nuxt-link>
        <br>
        <div class="service-detail-sidenav" >
          <ul v-scroll-spy-active="{class: 'customActive'}" v-scroll-spy-link>
            <li :key="item" v-for="item in items" class="menu-item"><a>{{item}}</a></li>
          </ul>
        </div>
      </b-col>
      <b-col cols="8" class="content">
        <h1>申请优势&服务流程</h1>
        <br>
        <p>
          留学申请是一个复杂而又细致的过程。院校选择，情况评估，名校vip留学计划定制，材料准备，思儒国际为您规划到每一步。思儒国际与加拿大本地上百所学校合作，教育资源优异，可以在第一时间了解院校动向和申请变化，让您的留学申请免除后顾之忧。
        </p>
        <div v-scroll-spy>
          <div class="border-div">
            <br>
            <br>
            <br>
            <br>
            <h1 class="toggle-tab">思儒申请优势</h1>
            <br>
            <h2>院校资源</h2>
            <p>一手院校资源
              申请院校类别-多层次，多角度申请，从中小学到大学、研究生。
              文案团队-个性化订制文案-拒绝模版-拒绝千篇一律-思儒文案让你的大学申请脱颖而出
              后续服务-学业辅导-课表订制-选课辅导-生活辅助
            </p>
          </div>
          <div class="border-div" id="highschool">
            <br>
            <br>
            <br>
            <br>
            <h1 class="toggle-tab">高中申请</h1>
            <div>
              <br>
              <h2>公立初高中介绍</h2>
              <p>
                加拿大公立高中是有政府出资建立，由各省教育厅管理
                各个城市或地区会设有自己的教育局(School Board)或学区(School District)，以此来管理其所在地区的公立高中，每个教育局或学区管辖的公立高中数量从三个到几十个不等
              </p>
              <table>
                <tr>
                  <td>
                    <h2>优势</h2>
                  </td>
                  <td>
                    <p>学校规模大，校内设施齐全，教师资源平均，国际生占比小语言环境好。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>特点</h2>
                  </td>
                  <td>
                    <p>学校教育对于国际生一视同仁，没有特别关注，对于语言水平普通学习自觉性较低的学生来说是比较大的挑战。
                      校区选择尤为重要</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>开学时间</h2>
                  </td>
                  <td>
                    <p>2月、9月</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>特点</h2>
                  </td>
                  <td>
                    <p>1万5千加币～1万7千加币</p>
                  </td>
                </tr>
              </table>
              <h2>私立高中介绍</h2>
              <p>
                由私人或私人组织出资建立的学校。私立学校和公立学校一样均由所在地区的省教育厅监控，私立学校由较大的自主运作权。</p>
              <table>
                <tr>
                  <td>
                    <h2>优势</h2>
                  </td>
                  <td>
                    <p>小班教学，对学生由更高的关注度，课程设置灵活，名校升学率高。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>特点</h2>
                  </td>
                  <td>
                    <p>以目标管理为基础，以达到学生未来发展要求为教学重点。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>开学时间</h2>
                  </td>
                  <td>
                    <p>学校不同，开学时间不同</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>特点</h2>
                  </td>
                  <td>
                    <p>1万4千加币～6万加币 （学费跟学校等级挂钩）</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="border-div" id="college">
            <br>
            <br>
            <br>
            <br>
            <h1 class="toggle-tab">学院申请</h1>
            <div>
              <br>
              <h2>加拿大公立学院介绍</h2>
              <p>学院，英文college,
                学制长短从1年到4年不等。相较于大学，学院更偏重职业培训，注重技能掌握和动手能力。加拿大设立由上百所公立学院，大多数学院与企业建立合作，甚至为企业设置特定专业。各个公立学院都有自己优势专业，这些优势专业毕业的学生，就业率高，薪金丰厚。
              </p>
              <table>
                <tr>
                  <td>
                    <h2>优势</h2>
                  </td>
                  <td>
                    <p>学时短，学费便宜，实用性强，就业率高。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>特点</h2>
                  </td>
                  <td>
                    <p>课程专业的设置会根据用人市场和经济需要进行调整，更容易满足社会上企业要求。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>开学时间</h2>
                  </td>
                  <td>
                    <p>1、5、9月</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>申请要求</h2>
                  </td>
                  <td>
                    <p>1高中毕业，平均分75分以上，雅思6.0（语言不够可以申请双录取）
                      学费：1万5千加币～1万8千加币
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="border-div" id="university">
            <br>
            <br>
            <br>
            <br>
            <h1 class="toggle-tab">大学申请</h1>
            <div>
              <br>
              <h2>加拿大大学介绍</h2>
              <p>加拿大共有98所大学，这些大学分为三大类：医博类、综合类、基础类。
              </p>
              <p>a.
                医博类大学：办学规模最大，学科设置最全面，设有更广泛的博士课程，科研实力较强，并且这类的大学都带有自己的医院，加拿大的医学院可以吸引更多的教育经费。办学目的是培养高端的研究型人才，授予本科、硕士、博士学位。
              </p>
              <p>b. 综合类大学：以本科生和研究生为主，拥有大量的研究项目，各专业设置较全，承担一些研究任务，但本科教育也是办学重点。会有教授授课，但是不像医博类大学那样全部由教授组成。</p>
              <p>c. 基础类大学：办学目的就是专注于本科教育，只有少数大学设有研究生课，师资队伍大部分都是由讲师组成，适合打算本科结束就就业的学生。</p>
              <table>
                <tr>
                  <td>
                    <h2>开学时间</h2>
                  </td>
                  <td>
                    <p>1、9月</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>申请要求</h2>
                  </td>
                  <td>
                    <p>均分70分以上，雅思6.5 单科不低于6.0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>学费</h2>
                  </td>
                  <td>
                    <p>2.7万加币～5万加币</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="border-div" id="continuestudy">
            <br>
            <br>
            <br>
            <br>
            <h1 class="toggle-tab">研究生申请</h1>
            <b-col>
              <br>
              <h2>介绍</h2>
              <p>加拿大研究生申请，最重要的就是申请截止日期。不同学校，不同专业的截止日期会有很大差别。</p>
              <table>
                <tr>
                  <td>
                    <h2>优势</h2>
                  </td>
                  <td>
                    <p>加拿大教育资源位列世界顶级水平。研究生含金量得到国内高度认可。研究生毕业后可以进入各省省提名移民项目，移民成功率高。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>开学时间</h2>
                  </td>
                  <td>
                    <p>1月，9月 （仅少数专业1月开学）</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>申请要求</h2>
                  </td>
                  <td>
                    <p>中国国内申请人本科平均分80 或以上，雅思成绩7.0 （具体要求看专业和申请院校而定）</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>学费</h2>
                  </td>
                  <td>
                    <p>3万加币～7万加币/年</p>
                  </td>
                </tr>
              </table>
            </b-col>
          </div>
        </div>
      </b-col>
    </b-row>
    <br>
    <br>
  </b-container>
</template>

<script>
  export default {
    scrollToTop: true,
    data() {
      return {
        section: 0,
        items: [
          '思儒申请优势',
          '高中申请',
          '学院申请',
          '大学申请',
          '研究生申请'
        ]
      }
    }
  }

</script>

<style lang="scss" scoped>
  .customActive {
    color: #FF682C;
    border-left: 3px solid #FF682C;
    padding-left: 10px;
    transition: all 0.5s;
  }

</style>
