<template>
  <b-container>
    <br>
    <br>
    <b-row>
      <b-col cols="3">
        <nuxt-link to="/services" class="green-btn">返回上一页</nuxt-link>
        <br>
        <div class="service-detail-sidenav">
          <ul v-scroll-spy-active="{class: 'customActive'}" v-scroll-spy-link>
            <li :key="ite" v-for="ite in item" class="menu-item"><a>{{ite}}</a></li>
          </ul>
        </div>
      </b-col>
      <br>
      <b-col cols="8" class="content">
        <div v-scroll-spy>
        <div class="border-div" id="studycare1">
          <br>
          <br>
          <br>
          <br>
          <h1 class="toggle-tab">监护人服务</h1>
          <br>
          <p>加拿大规定外籍在加学人士，未满地方要求的成年年龄需提供具有本地身份的成年人作为其在加的合法监护人。思儒国际为客户需求提供监护人服务，帮助未满成年年龄的留学生解决签证递交问题已经生活学业辅助问题</p>
          <h2>文字监护</h2>
          <p>提供监护信、紧急情况联系人服务</p>
          <h2>基本监护</h2>
          <p>提供监护信、紧急情况联系人服务、代表学生向学校请假、学习情况跟进（每学期）、院校文件签字、出席家长会、成绩单汇报、学校出勤记录（每学期）寄宿家庭反馈（每学期）</p>
        </div>

        <div class="border-div" id="studycare2">
          <br>
          <br>
          <br>
          <br>
          <h1 class="toggle-tab">护学服务</h1>
          <br>
          <p>思儒国际的护学项目是在监护人的基础上为小龄留学生在海外学习生活期间提供更全面更细致服务与帮助。护学项目消除一对一或一对多的固有监护模式，由专业的护学团队对学生进行监管及帮助，从而解决个人监护中遇到的不专业不专注等问题。在护学团队中，院校对接部门负责对接院校了解学生平时上课、成绩、平时表现情况并为其提供学业伤的帮助；生活部门负责对接学生寄宿家庭了解学生平时生活起居情况并为学生生活提供帮助；文案部门负责归纳整理学生整体情况数据记录在案；部门汇总，定期三个部门会根据所收集到的数据以及服务情况进行专项会议，通过数据分析对学生进行短期规划以保证学生学业及生活情况的稳定性，最后将内容规整通过专门负责人将信息传递给家长与家长沟通</p>
          <h2>全面监护</h2>
          <p>提供监护信、紧急情况联系人、代学生向学校请假、学习情况跟进、院校文件签字、出席家长会、成绩单汇报（含期中、期末）、学校出勤记录（每月）、寄宿家庭反馈（每月）、升转学安排、学业课表定制、成绩监管、目标定制、关系协调、签证服务（每年一次）、机场接送（2次/年）、志愿者（义工）活动、社交沙龙</p>

        <b-table :items="items" :fields="fields" class="service-table"></b-table>
        </div>

        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        section: 0,
        item: [
          '监护人服务',
          '护学服务'
        ],
        fields: [
            {
            key:'first',
            label:'文字监护'
            }, 
            {
            key:'second',
            label:'基本监护'
            }, 
            {
            key:'third',
            label:'全面监护'
            }
            ],
        items: [
          { first: '提供监护信', second: '提供监护信', third: '提供监护信',  _rowVariant: 'success'},
          { first: '紧急情况联系人', second: '紧急情况联系人', third: '紧急情况联系人',  _rowVariant: 'success'},
          { first: '代学生向学校请假', second: '代学生向学校请假', third: '代学生向学校请假',  _cellVariants: {second:'success',third:'success'}},
          { first: '学习情况跟进', second: '学习情况跟进', third: '学习情况跟进',  _cellVariants: {second:'success',third:'success'}},
          { first: '院校文件签字', second: '院校文件签字', third: '院校文件签字',  _cellVariants: {second:'success',third:'success'}},
          { first: '出席家长会', second: '出席家长会', third: '出席家长会',  _cellVariants: {second:'success',third:'success'}},
          { first: '成绩单汇报', second: '成绩单汇报（每学期)', third: '成绩单汇报（含期中、期末）',  _cellVariants: {second:'success',third:'success'}},
          { first: '出勤情况', second: '出勤情况（每学期）', third: '出勤情况（每月）',  _cellVariants: {second:'success',third:'success'}},
          { first: '寄宿家庭反馈', second: '寄宿家庭反馈（每学期）', third: '寄宿家庭反馈（每月）',  _cellVariants: {second:'success',third:'success'}},
          { first: '升转学安排', second: '升转学安排', third: '升转学安排',  _cellVariants: {third:'success'}},
          { first: '学业课表定制', second: '学业课表定制', third: '学业课表定制',  _cellVariants: {third:'success'}},
          { first: '成绩监管', second: '成绩监管', third: '成绩监管',  _cellVariants: {third:'success'}},
          { first: '目标定制', second: '目标定制', third: '目标定制',  _cellVariants: {third:'success'}},
          { first: '关系协调', second: '关系协调', third: '关系协调',  _cellVariants: {third:'success'}},
          { first: '签证服务', second: '签证服务', third: '签证服务（1次/每年）',  _cellVariants: {third:'success'}},
          { first: '志愿者活动', second: '志愿者活动', third: '志愿者活动',  _cellVariants: {third:'success'}},
          { first: '机场接送', second: '机场接送', third: '机场接送（2次/每年）',  _cellVariants: {third:'success'}},
          { first: '社交沙龙', second: '社交沙龙', third: '社交沙龙',  _cellVariants: {third:'success'}},
          ]
      }
    }

  }

</script>

<style lang="scss" scoped>
   .service-table > thead > tr > th{
    background: #FF682C;
    color:#ffffff;
}
</style>
