<template>
    <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CBB557149F2519B69EE4B6C436C12A455788E06B84FA593D432BDECDC7A3BF58AEE2E8AA6B1530CAF8072AF79FA0D0DBF">	
<p>
    <label for="fieldName">Name</label>
    <br />
    <input id="fieldName" name="cm-name" type="text" />
</p>
<p>
    <label for="fieldEmail">Email</label>
    <br />
    <input id="fieldEmail" name="cm-jllyidy-jllyidy" type="email" class="js-cm-email-input"
    required />
</p>
<p>
    <label for="fieldtyhkyki">School</label>
    <br />
    <input id="fieldtyhkyki" name="cm-f-tyhkyki" type="text" />
</p>
<p>
    <label for="fieldtyhkykh">Phone Number</label>
    <br />
    <input id="fieldtyhkykh" name="cm-f-tyhkykh" type="text" />
</p>
<p>
    <label for="fieldtyhkykk">Wechat</label>
    <br />
    <input id="fieldtyhkykk" name="cm-f-tyhkykk" type="text" />
</p>
<p>
    <label for="fieldtyhkyku">Hour Need</label>
    <br />
    <input id="fieldtyhkyku" name="cm-f-tyhkyku" type="text" />
</p>
<p>
    <label for="fieldtyhkjdy">Grade</label>
    <br />
    <select id="fieldtyhkjdy" name="cm-fo-tyhkjdy">
        <option value="4088018">8</option>
        <option value="4088019">9</option>
        <option value="4088020">10</option>
        <option value="4088021">11</option>
        <option value="4088022">12</option>
    </select>
</p>
<p>
    <button class="js-cm-submit-button" type="submit">Subscribe</button>
</p>
</form>
</template>

<script>
export default {

}
</script>

<style>

</style>
