<template>
  <b-container style="margin-top:10%;">
    <br>
    <br>
    <b-row>
      <b-col cols="3">
        <nuxt-link to="/services" class="green-btn">返回上一页</nuxt-link>
        <br>
        <div class="service-detail-sidenav">
          <ul v-scroll-spy-active="{class: 'customActive'}" v-scroll-spy-link>
            <li :key="item" v-for="item in items" class="menu-item"><a>{{item}}</a></li>
          </ul>
        </div>
      </b-col>
      <b-col cols="1" style="border-left: 1px solid #e3e3e3;"></b-col>
      <br>
      <b-col cols="8" class="content">
        <div v-scroll-spy>
        <div class="border-div" id="studypermit">
          <br>
          <br>
          <br>
          <br>
          <h1 class="toggle-tab">学习许可</h1>
          <br>
          <p>学习许可证是允许外国公民在加拿大的指定学习机构（DLI）学习。 大多数外国人需要获得在加拿大学习的学习许可。 在申请之前，请确保您拥有所需的所有文件。
            您应该在前往加拿大之前申请。学习许可的有效期通常为学习时长加额外的90天，这90天是让申请人有时间可以准备离开加拿大或者办理续签。</p>
          <h2>一、普通学生签证</h2>
          <p>外国人在加拿大指定机构学习超过6个月须持有学习许可。学生第一次持学生签证入境时需在海关办理领取学习许可。申请普通学生签证的基本材料有： 申请表、护照、身份证、户口簿、照片、体检表、学校录取通知书、从 18
            岁之后曾连续居住 6 个月或以上的每个国家和地区的无犯罪证明、资金证明等。</p>
          <h2>二、学生直入计划Student Direct Stream (SDS)</h2>
          <p>
            学生直入计划是为具备较强的英语或法语能力、计划进入高等教育指定学习机构的学生提供的一个简捷的学习许可的申请程序。通过学生直入计划申请学习许可需提交以下材料：申请表、护照、照片、身份证、体检表、学习计划、学校录取信、雅思成绩（单项不低于6分）、最近就读高中或高等教育院校所获得的所有学位以及最近的成绩单、从
            18 岁之后曾连续居住 6 个月或以上的每个国家和地区的无犯罪证明、由加拿大参与金融机构出具的一万加元担保投资证明(GIC)的购买证明、已缴纳第一年学费的收据副本、资金证明等。</p>
          <h2>三、续签</h2>
          <p>
            申请人原来的学习许可即将到期但学业尚未结束或者申请了新的学习项目时，需要在原有的学习许可到期前向移民局提交延长学习许可的申请。续签可以通过晚上申请也可以纸质递交，通常情况下网上申请的审理期要快于纸质申请的审理期。申请学签续签的基本材料有：申请表、学校注册信、护照、照片、资金证明等。
          </p>
        </div>
        <div class="border-div" id="workingpermit">
          <br>
          <br>
          <br>
          <br>
          <h1 class="toggle-tab">工作许可</h1>
          <br>
          <h2>一、开放式工作许可</h2>
          <h2 style="margin-top:50px">1、毕业生</h2>
          <p>
            留学生在加拿大指定学校（DLI）全日制学习满一定时间，毕业后可以获得一次相应有效期长度的开放式工签。通常学习8个月以上不满2年的可以获得有效期和学习时间相同的工作签证，学习满2年，可获得3年开放工签。申请毕业生开放工签的基本材料有：申请表、护照、毕业证明、成绩单、照片等。
          </p>
          <h2 style="margin-top:50px">2、配偶工签</h2>
          <p>下列情况下，配偶一方是公民或永久居民、持有效学生许可或工作许可，另一方可以申请开放式工签：</p>
          <h3 class="p-l-x">2‑01 一方持有效学签，且在下列类型的学校全日制就读：</h3>
          <p class="p-l-2x">a. 公立的高等院校或者魁北克的普通教育和职业教育学院（CEGEP）或者魁北克私立高等院校</p>
          <p class="p-l-2x">b. 加拿大可以授予学位的私立院校</p>
          <h3 class="p-l-x">2‑02 一方持有效工签且工作类别属于NOC 0、A或者B类</h3>
          <h3 class="p-l-x">2‑03 一方为公民或永久居民，另一方在加拿大境内递交了团聚移民申请且身份合法</h3>
          <p>申请配偶工签需提交以下基本资料：申请表、护照、照片、体检表、结婚公证或同居宣誓、申请人配偶在加拿大的身份证明（如工签、学签、枫叶卡、公民证明）、申请人配偶的学校信、雇主信或者申请团聚移民申请的档案号等。</p>
          <h2 style="margin-top:50px">二、特定雇主的工作许可</h2>
          <p style="margin-top:40px">特定雇主的工作许可（employer‑specific work
            permit）允许持有工作许可的人按照工作许可上列明的工作时间及位置为特定的雇主工作。此类工作许可多数情况下需要雇主办理劳工市场影响评估Labour Market Impact Assessment
            (LMIA).申请特定雇主的工作许可需提交以下基本材料：申请表、护照、照片、LMIA等。</p>
        </div>
        <div class="border-div" id="temppermit">
          <br>
          <br>
          <br>
          <br>
          <h1 class="toggle-tab">临时访问签证</h1>
          <br>
          <h2>一、普通旅游签</h2>
          <p style="margin-top:40px">
            中国游客前往加拿大旅游需办理旅游签证。根据申请人提交的材料，申请人可能获得有效期与护照有效期相同的多次往返签证，最长不超过10年，持旅游签入境一次最长停留期为180天。申请旅游签证的基本材料有：申请表、护照、身份证、准假信（在职）、退休证（退休）、资金证明、旅行目的等。
          </p>
          <h2 style="margin-top:40px">二、探亲签证</h2>
          <p style="margin-top:40px">
            探亲签证和普通旅游签证均属于临时访问签证类别，如申请人在加拿大有亲属的可以办理探亲签证。根据申请人提交的材料，申请人可能获得有效期与护照有效期相同的多次往返签证，最长不超过10年，持探亲签证入境一次最长停留期为180天。申请探亲签证的基本材料有：申请表、护照、身份证、邀请函、关系证明、照片、邀请人身份证明（如枫叶卡、学习许可或工作许可等）、邀请人收入及财产状况证明（学生除外）、旅行目的等。
          </p>
          <h2 style="margin-top:40px">三、超级签证</h2>
          <p style="margin-top:40px">
            超级签证适用于子女或者孙子女是加拿大公民或者永久居民的申请人，使他们可以访问和与家人团聚。该签证属于临时访问签证的一种，最长有效期不超过10年，每次入境通常可停留2年。申请超级签证的基本材料有：申请表、护照、身份证、邀请函、关系证明、照片、申请人购买至少一年且保险额不低于加币100，000元的医疗保险、邀请人身份证明、邀请人收入及财产状况证明、旅行目的等。
          </p>
        </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        section: 0,
        items: [
          '学习许可',
          '工作许可',
          '临时访问签证'
        ]
      }
    }

  }

</script>

<style>

</style>
