<template>
    <b-container>
        <br>
        <br>
        <br>
      
        <br>
        <b-row>
            <b-col>
                <h1>现可报名的活动：</h1>
            </b-col>
            <br>
            <br>
        </b-row>
        <b-row>
            <b-col md="3" xs="12">
                <b-card
    title="BIG on Bloor Festival of Arts & Culture"
    img-src="/img/event-img/event-big-on-bloor.jpg"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <hr>
    <b-card-text>
      <div><h2>时间</h2><p>2019-07-20</p></div>
      <div><h2>活动内容</h2><p>Celebrate local music, arts and culture</p></div>
      <div><h2>义工职位</h2><p>Assistant, Tour Guide</p></div>
    </b-card-text>

    <b-button id="show-btn" v-b-modal.modal-1 class="green-btn">现在报名</b-button>
  </b-card>
            </b-col>
                <b-col md="3" xs="12">
                <b-card
    title="BIG BIKE"
    img-src="/img/event-img/event-big-bike.jpg"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
  <hr>
    <b-card-text>
      <div><h2>时间</h2><p>2019-06-21/22</p></div>
      <div><h2>活动内容</h2><p>RIDING BIKE </p></div>
      <div><h2>义工职位</h2><p>Assistant</p></div>
    </b-card-text>

     <b-button id="show-btn" v-b-modal.modal-2 class="green-btn">现在报名</b-button>
  </b-card>
    <b-modal id="modal-1" title="Big On Bloor Event Registration Form">
        <eventBigonBloor/>
    </b-modal>
        <b-modal id="modal-2" title="BIG on Bloor Festival of Arts & Culture Form">
        <eventBigBike/>
    </b-modal>

            </b-col>
        </b-row>
        <br>
        <br>
        <br>
    </b-container>
</template>

<script>
import eventBigonBloor from '~/components/event-big-on-bloor-form'
import eventBigBike from '~/components/event-big-bike-form'
export default {
    components:{
        eventBigonBloor,
        eventBigBike
    }
}
</script>

<style lang="scss" scoped>
.volunteer-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/img/volunteer-bg-01.png');
}

.card-body{
    h4{
    font-size:13px;
}
}
.card-text{
h2{
    font-size:13px;
}
}
</style>
